<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_partreplacerecord})}|">Show PartReplaceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${partReplaceRecord}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_partreplacerecord})}">Show PartReplaceRecord</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_partreplacerecord})}">PartReplaceRecord data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="partreplacerecord-materialcatalog-field" data-z="3ac11cd7">
            	      <strong data-th-text="#{label_partreplacerecord_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="partreplacerecord-serialnumber-field" data-z="7e7fd107">
            	      <strong data-th-text="#{label_partreplacerecord_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="partreplacerecord-equipment-field" data-z="74435f77">
            	      <strong data-th-text="#{label_partreplacerecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="partreplacerecord-description-field" data-z="c44373b7">
            	      <strong data-th-text="#{label_partreplacerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="partreplacerecord-onlinedate-field" data-z="a1f20a87">
            	      <strong data-th-text="#{label_partreplacerecord_onlinedate}">onlineDate</strong>
                    <span data-th-text="*{{onlineDate}}">onlineDateValue</span>
         	        </li>
                  <li id="partreplacerecord-onlineplan-field" data-z="b7ac8727">
            	      <strong data-th-text="#{label_partreplacerecord_onlineplan}">onlinePlan</strong>
                    <span data-th-text="*{{onlinePlan}}">onlinePlanValue</span>
         	        </li>
                  <li id="partreplacerecord-onlinemaintainer-field" data-z="cee92b47">
            	      <strong data-th-text="#{label_partreplacerecord_onlinemaintainer}">onlineMaintainer</strong>
                    <span data-th-text="*{{onlineMaintainer}}">onlineMaintainerValue</span>
         	        </li>
                  <li id="partreplacerecord-offlinedate-field" data-z="516eb137">
            	      <strong data-th-text="#{label_partreplacerecord_offlinedate}">offlineDate</strong>
                    <span data-th-text="*{{offlineDate}}">offlineDateValue</span>
         	        </li>
                  <li id="partreplacerecord-offlineplan-field" data-z="67292dd7">
            	      <strong data-th-text="#{label_partreplacerecord_offlineplan}">offlinePlan</strong>
                    <span data-th-text="*{{offlinePlan}}">offlinePlanValue</span>
         	        </li>
                  <li id="partreplacerecord-offlinemaintainer-field" data-z="9a1a0df7">
            	      <strong data-th-text="#{label_partreplacerecord_offlinemaintainer}">offlineMaintainer</strong>
                    <span data-th-text="*{{offlineMaintainer}}">offlineMaintainerValue</span>
         	        </li>
                  <li id="partreplacerecord-memo-field" data-z="f903a947">
            	      <strong data-th-text="#{label_partreplacerecord_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="partreplacerecord-recordstatus-field" data-z="add7c047">
            	      <strong data-th-text="#{label_partreplacerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="partreplacerecord-createddate-field" data-z="d2bbf497">
            	      <strong data-th-text="#{label_partreplacerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="partreplacerecord-createdby-field" data-z="e122177">
            	      <strong data-th-text="#{label_partreplacerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="partreplacerecord-lastmodifieddate-field" data-z="310d6727">
            	      <strong data-th-text="#{label_partreplacerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="partreplacerecord-lastmodifiedby-field" data-z="443ef807">
            	      <strong data-th-text="#{label_partreplacerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="PartReplaceRecord_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('PartReplaceRecordsItemThymeleafController').to('editForm').with('partReplaceRecord', partReplaceRecord.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="PartReplaceRecord_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('PartReplaceRecordsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
