<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_procurementorderfinancetracking})}">
    Edit ProcurementOrderFinanceTracking - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('ProcurementOrderFinanceTrackingsCollectionThymeleafController')},itemLink=${@linkBuilder.of('ProcurementOrderFinanceTrackingsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_procurementorderfinancetracking})}">Edit ProcurementOrderFinanceTracking</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${procurementOrderFinanceTracking}" data-th-action="${itemLink.to('update').with('procurementOrderFinanceTracking', procurementOrderFinanceTracking.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('procurementOrderFinanceTracking', procurementOrderFinanceTracking.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_procurementorderfinancetracking})}">ProcurementOrderFinanceTracking data </legend>

<div class="form-group has-error has-feedback" data-z="34378e8" id="procurementorderfinancetracking-procurementorder-field" data-th-classappend="${#fields.hasErrors('procurementOrder')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ProcurementOrdersCollectionThymeleafController')}">
    <label for="procurementOrder" class="col-md-3 control-label" data-th-text="#{label_procurementorderfinancetracking_procurementorder}">ProcurementOrder</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{procurementOrder}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{procurementOrder} == null" data-th-value="*{procurementOrder.id}" data-th-text="*{{procurementOrder}}" selected="selected">ProcurementOrder</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('procurementOrder')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('procurementOrder')}" aria-hidden="true"></span>
      <span id="procurementOrder-error" class="help-block" data-th-if="${#fields.hasErrors('procurementOrder')}" data-th-errors="*{procurementOrder}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="procurementorderfinancetracking-invoicereceived-field" data-z="2ba58d36" data-th-classappend="${#fields.hasErrors('invoiceReceived')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="invoiceReceived" data-th-text="#{label_procurementorderfinancetracking_invoicereceived}">invoiceReceived</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{invoiceReceived}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('invoiceReceived')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('invoiceReceived')}" aria-hidden="true"></span>
        <span id="invoiceReceived-error" class="help-block" data-th-if="${#fields.hasErrors('invoiceReceived')}" data-th-errors="*{invoiceReceived}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" id="procurementorderfinancetracking-paymentsubmit-field" data-z="24bcd4f6" data-th-classappend="${#fields.hasErrors('paymentSubmit')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="paymentSubmit" data-th-text="#{label_procurementorderfinancetracking_paymentsubmit}">paymentSubmit</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{paymentSubmit}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('paymentSubmit')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('paymentSubmit')}" aria-hidden="true"></span>
        <span id="paymentSubmit-error" class="help-block" data-th-if="${#fields.hasErrors('paymentSubmit')}" data-th-errors="*{paymentSubmit}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" id="procurementorderfinancetracking-paymentsubmitdate-field" data-z="37225fd6" data-th-classappend="${#fields.hasErrors('paymentSubmitDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="paymentSubmitDate" class="col-md-3 control-label" data-th-text="#{label_procurementorderfinancetracking_paymentsubmitdate}">paymentSubmitDate</label>
  <div class="col-md-3">
    <input id="paymentSubmitDate" name="paymentSubmitDate" data-th-value="*{{paymentSubmitDate}}" type="text" class="form-control datetimepicker" placeholder="paymentSubmitDate" data-th-placeholder="#{label_procurementorderfinancetracking_paymentsubmitdate}" data-th-attr="data-dateformat=${paymentSubmitDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('paymentSubmitDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('paymentSubmitDate')}" aria-hidden="true"></span>
     <span id="paymentSubmitDate-error" class="help-block" data-th-if="${#fields.hasErrors('paymentSubmitDate')}" data-th-errors="*{paymentSubmitDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="d2c4bed6" id="procurementorderfinancetracking-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_procurementorderfinancetracking_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_procurementorderfinancetracking_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="6f7fd908" id="procurementorderfinancetracking-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_procurementorderfinancetracking_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
