<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_procurementorderfinancetracking})}|">Show ProcurementOrderFinanceTracking - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${procurementOrderFinanceTracking}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="procurementorderfinancetracking-procurementorder-field" data-z="34378e8">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_procurementorder}">procurementOrder</strong>
                    <span data-th-text="*{{procurementOrder}}">procurementOrderValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-invoicereceived-field" data-z="2ba58d36">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_invoicereceived}">invoiceReceived</strong>
                    <span data-th-text="*{{invoiceReceived}}">invoiceReceivedValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-paymentsubmit-field" data-z="24bcd4f6">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_paymentsubmit}">paymentSubmit</strong>
                    <span data-th-text="*{{paymentSubmit}}">paymentSubmitValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-paymentsubmitdate-field" data-z="37225fd6">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_paymentsubmitdate}">paymentSubmitDate</strong>
                    <span data-th-text="*{{paymentSubmitDate}}">paymentSubmitDateValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-description-field" data-z="d2c4bed6">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-recordstatus-field" data-z="6f7fd908">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-createddate-field" data-z="e13d3fb6">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-createdby-field" data-z="9059a856">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-lastmodifieddate-field" data-z="3b893768">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="procurementorderfinancetracking-lastmodifiedby-field" data-z="3c43e488">
            	      <strong data-th-text="#{label_procurementorderfinancetracking_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
