<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_preventivemaintenancestandard})}|">Show PreventiveMaintenanceStandard - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${preventiveMaintenanceStandard}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="preventivemaintenancestandard-code-field" data-z="85856cc5">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_code}">code</strong>
                    <span data-th-text="*{{code}}">codeValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-description-field" data-z="a2fdb019">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-owner-field" data-z="c90a28b9">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_owner}">owner</strong>
                    <span data-th-text="*{{owner}}">ownerValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-organization-field" data-z="cb333605">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_organization}">organization</strong>
                    <span data-th-text="*{{organization}}">organizationValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-recordstatus-field" data-z="a6651025">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-createddate-field" data-z="b17630f9">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-createdby-field" data-z="c5940e59">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-lastmodifieddate-field" data-z="80939805">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="preventivemaintenancestandard-lastmodifiedby-field" data-z="4eb7c865">
            	      <strong data-th-text="#{label_preventivemaintenancestandard_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
