<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_notificationuserstatuswithnumber})}|">Show NotificationUserStatusWithNumber - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${notificationUserStatusWithNumber}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_notificationuserstatuswithnumber})}">Show NotificationUserStatusWithNumber</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_notificationuserstatuswithnumber})}">NotificationUserStatusWithNumber data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="notificationuserstatuswithnumber-code-field" data-z="a090e462">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_code}">code</strong>
                    <span data-th-text="*{{code}}">codeValue</span>
         	        </li>
                  <li id="notificationuserstatuswithnumber-description-field" data-z="7686dddc">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="notificationuserstatuswithnumber-recordstatus-field" data-z="44019ac2">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="notificationuserstatuswithnumber-createddate-field" data-z="84ff5ebc">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="notificationuserstatuswithnumber-createdby-field" data-z="f603d0dc">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="notificationuserstatuswithnumber-lastmodifieddate-field" data-z="917f8c22">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="notificationuserstatuswithnumber-lastmodifiedby-field" data-z="f75c1fc2">
            	      <strong data-th-text="#{label_notificationuserstatuswithnumber_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="NotificationUserStatusWithNumber_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('NotificationUserStatusWithNumbersItemThymeleafController').to('editForm').with('notificationUserStatusWithNumber', notificationUserStatusWithNumber.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="NotificationUserStatusWithNumber_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('NotificationUserStatusWithNumbersCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
