<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_create_entity(#{label_servicereceivedetail})}">
      Create ServiceReceiveDetail - OCMMSROO - SpringRoo Application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('ServiceReceiveDetailsCollectionThymeleafController')}">

          <h1 data-th-text="#{label_create_entity(#{label_servicereceivedetail})}">Create ServiceReceiveDetail</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${serviceReceiveDetail}" data-th-action="${collectionLink.to('create').with('serviceReceiveDetail', serviceReceiveDetail.id)}">

            <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_servicereceivedetail})}">ServiceReceiveDetail data </legend>

<div class="form-group has-error has-feedback" data-z="1a956dca" id="servicereceivedetail-quantity-field" data-th-classappend="${#fields.hasErrors('quantity')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="quantity" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_quantity}">quantity</label>
  <div class="col-md-3">
    <input id="quantity" name="quantity" data-th-value="*{{quantity}}" type="text" class="form-control inputmask" placeholder="quantity" data-th-placeholder="#{label_servicereceivedetail_quantity}" data-toggle="tooltip" aria-describedby="quantityStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('quantity')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('quantity')}" aria-hidden="true"></span>
      <span id="quantity-error" class="help-block" data-th-if="${#fields.hasErrors('quantity')}" data-th-errors="*{quantity}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="servicereceivedetail-receivedate-field" data-z="680aabb4" data-th-classappend="${#fields.hasErrors('receiveDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="receiveDate" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_receivedate}">receiveDate</label>
  <div class="col-md-3">
    <input id="receiveDate" name="receiveDate" data-th-value="*{{receiveDate}}" type="text" class="form-control datetimepicker" placeholder="receiveDate" data-th-placeholder="#{label_servicereceivedetail_receivedate}" data-th-attr="data-dateformat=${receiveDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('receiveDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('receiveDate')}" aria-hidden="true"></span>
     <span id="receiveDate-error" class="help-block" data-th-if="${#fields.hasErrors('receiveDate')}" data-th-errors="*{receiveDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="1c3a514a" id="servicereceivedetail-receiver-field" data-th-classappend="${#fields.hasErrors('receiver')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="receiver" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_receiver}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{receiver}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{receiver} == null" data-th-value="*{receiver.id}" data-th-text="*{{receiver}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('receiver')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('receiver')}" aria-hidden="true"></span>
      <span id="receiver-error" class="help-block" data-th-if="${#fields.hasErrors('receiver')}" data-th-errors="*{receiver}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="e5d73aa" id="servicereceivedetail-keeper-field" data-th-classappend="${#fields.hasErrors('keeper')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="keeper" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_keeper}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{keeper}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{keeper} == null" data-th-value="*{keeper.id}" data-th-text="*{{keeper}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('keeper')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('keeper')}" aria-hidden="true"></span>
      <span id="keeper-error" class="help-block" data-th-if="${#fields.hasErrors('keeper')}" data-th-errors="*{keeper}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="cd5303ea" id="servicereceivedetail-serviceprocurementitemdetail-field" data-th-classappend="${#fields.hasErrors('serviceProcurementItemDetail')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ServiceProcurementItemDetailsCollectionThymeleafController')}">
    <label for="serviceProcurementItemDetail" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_serviceprocurementitemdetail}">ServiceProcurementItemDetail</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{serviceProcurementItemDetail}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{serviceProcurementItemDetail} == null" data-th-value="*{serviceProcurementItemDetail.id}" data-th-text="*{{serviceProcurementItemDetail}}" selected="selected">ServiceProcurementItemDetail</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('serviceProcurementItemDetail')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('serviceProcurementItemDetail')}" aria-hidden="true"></span>
      <span id="serviceProcurementItemDetail-error" class="help-block" data-th-if="${#fields.hasErrors('serviceProcurementItemDetail')}" data-th-errors="*{serviceProcurementItemDetail}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="servicereceivedetail-invoicedate-field" data-z="22a46a74" data-th-classappend="${#fields.hasErrors('invoiceDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="invoiceDate" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_invoicedate}">invoiceDate</label>
  <div class="col-md-3">
    <input id="invoiceDate" name="invoiceDate" data-th-value="*{{invoiceDate}}" type="text" class="form-control datetimepicker" placeholder="invoiceDate" data-th-placeholder="#{label_servicereceivedetail_invoicedate}" data-th-attr="data-dateformat=${invoiceDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('invoiceDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('invoiceDate')}" aria-hidden="true"></span>
     <span id="invoiceDate-error" class="help-block" data-th-if="${#fields.hasErrors('invoiceDate')}" data-th-errors="*{invoiceDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="d252d3aa" id="servicereceivedetail-paymentsubmitter-field" data-th-classappend="${#fields.hasErrors('paymentSubmitter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="paymentSubmitter" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_paymentsubmitter}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{paymentSubmitter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{paymentSubmitter} == null" data-th-value="*{paymentSubmitter.id}" data-th-text="*{{paymentSubmitter}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('paymentSubmitter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('paymentSubmitter')}" aria-hidden="true"></span>
      <span id="paymentSubmitter-error" class="help-block" data-th-if="${#fields.hasErrors('paymentSubmitter')}" data-th-errors="*{paymentSubmitter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="servicereceivedetail-paymentdate-field" data-z="73f28354" data-th-classappend="${#fields.hasErrors('paymentDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="paymentDate" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_paymentdate}">paymentDate</label>
  <div class="col-md-3">
    <input id="paymentDate" name="paymentDate" data-th-value="*{{paymentDate}}" type="text" class="form-control datetimepicker" placeholder="paymentDate" data-th-placeholder="#{label_servicereceivedetail_paymentdate}" data-th-attr="data-dateformat=${paymentDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('paymentDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('paymentDate')}" aria-hidden="true"></span>
     <span id="paymentDate-error" class="help-block" data-th-if="${#fields.hasErrors('paymentDate')}" data-th-errors="*{paymentDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="fa7f316a" id="servicereceivedetail-memo-field" data-th-classappend="${#fields.hasErrors('memo')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="memo" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_memo}">memo</label>
  <div class="col-md-6">
    <input id="memo" name="memo" data-th-value="*{{memo}}" type="text" class="form-control" placeholder="memo" data-th-placeholder="#{label_servicereceivedetail_memo}" data-toggle="tooltip" aria-describedby="memoStatus" />
      <span data-th-classappend="${#fields.hasErrors('memo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('memo')}" aria-hidden="true"></span>
      <span id="memo-error" class="help-block" data-th-if="${#fields.hasErrors('memo')}" data-th-errors="*{memo}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="servicereceivedetail-closed-field" data-z="b8288c6a" data-th-classappend="${#fields.hasErrors('closed')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="closed" data-th-text="#{label_servicereceivedetail_closed}">closed</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{closed}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('closed')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('closed')}" aria-hidden="true"></span>
        <span id="closed-error" class="help-block" data-th-if="${#fields.hasErrors('closed')}" data-th-errors="*{closed}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a4a6756a" id="servicereceivedetail-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_servicereceivedetail_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
            </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											Inputmask
													.extendAliases({
														'numeric' : {
															'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
															'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
														},
														'currency' : {
															'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
															'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
														}
													});
										});
					})(jQuery);
  		</script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
		  </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
			</script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
			</script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
			</script>

    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											jQuery
													.extend(
															jQuery.validator.messages,
															{
																'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
																'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
															});
										});
					})(jQuery);
		  </script>

    </div>

  </body>

</html>