<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="servicereceivedetail-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('ServiceReceiveDetailsCollectionThymeleafController')},itemLink=${@linkBuilder.of('ServiceReceiveDetailsItemThymeleafController')}">
    <table id="servicereceivedetail-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="orderNo" data-th-text="#{label_servicereceivedetail_orderno}">orderNo</th>
          <th data-data="quantity" data-th-text="#{label_servicereceivedetail_quantity}">quantity</th>
          <th data-data="unitPrice" data-th-text="#{label_servicereceivedetail_unitprice}">unitPrice</th>
          <th data-data="currencyUnit" data-th-text="#{label_servicereceivedetail_currencyunit}">currencyUnit</th>
          <th data-data="goodReceiveNo" data-th-text="#{label_servicereceivedetail_goodreceiveno}">goodReceiveNo</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>orderNo</td>
          <td>quantity</td>
          <td>unitPrice</td>
          <td>currencyUnit</td>
          <td>goodReceiveNo</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->