<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_servicereceivedetail})}|">Show ServiceReceiveDetail - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${serviceReceiveDetail}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_servicereceivedetail})}">Show ServiceReceiveDetail</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_servicereceivedetail})}">ServiceReceiveDetail data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="servicereceivedetail-quantity-field" data-z="1a956dca">
            	      <strong data-th-text="#{label_servicereceivedetail_quantity}">quantity</strong>
                    <span data-th-text="*{{quantity}}">quantityValue</span>
         	        </li>
                  <li id="servicereceivedetail-receivedate-field" data-z="680aabb4">
            	      <strong data-th-text="#{label_servicereceivedetail_receivedate}">receiveDate</strong>
                    <span data-th-text="*{{receiveDate}}">receiveDateValue</span>
         	        </li>
                  <li id="servicereceivedetail-receiver-field" data-z="1c3a514a">
            	      <strong data-th-text="#{label_servicereceivedetail_receiver}">receiver</strong>
                    <span data-th-text="*{{receiver}}">receiverValue</span>
         	        </li>
                  <li id="servicereceivedetail-keeper-field" data-z="e5d73aa">
            	      <strong data-th-text="#{label_servicereceivedetail_keeper}">keeper</strong>
                    <span data-th-text="*{{keeper}}">keeperValue</span>
         	        </li>
                  <li id="servicereceivedetail-serviceprocurementitemdetail-field" data-z="cd5303ea">
            	      <strong data-th-text="#{label_servicereceivedetail_serviceprocurementitemdetail}">serviceProcurementItemDetail</strong>
                    <span data-th-text="*{{serviceProcurementItemDetail}}">serviceProcurementItemDetailValue</span>
         	        </li>
                  <li id="servicereceivedetail-invoicedate-field" data-z="22a46a74">
            	      <strong data-th-text="#{label_servicereceivedetail_invoicedate}">invoiceDate</strong>
                    <span data-th-text="*{{invoiceDate}}">invoiceDateValue</span>
         	        </li>
                  <li id="servicereceivedetail-paymentsubmitter-field" data-z="d252d3aa">
            	      <strong data-th-text="#{label_servicereceivedetail_paymentsubmitter}">paymentSubmitter</strong>
                    <span data-th-text="*{{paymentSubmitter}}">paymentSubmitterValue</span>
         	        </li>
                  <li id="servicereceivedetail-paymentdate-field" data-z="73f28354">
            	      <strong data-th-text="#{label_servicereceivedetail_paymentdate}">paymentDate</strong>
                    <span data-th-text="*{{paymentDate}}">paymentDateValue</span>
         	        </li>
                  <li id="servicereceivedetail-memo-field" data-z="fa7f316a">
            	      <strong data-th-text="#{label_servicereceivedetail_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="servicereceivedetail-closed-field" data-z="b8288c6a">
            	      <strong data-th-text="#{label_servicereceivedetail_closed}">closed</strong>
                    <span data-th-text="*{{closed}}">closedValue</span>
         	        </li>
                  <li id="servicereceivedetail-recordstatus-field" data-z="a4a6756a">
            	      <strong data-th-text="#{label_servicereceivedetail_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="servicereceivedetail-createddate-field" data-z="14808f14">
            	      <strong data-th-text="#{label_servicereceivedetail_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="servicereceivedetail-createdby-field" data-z="10453734">
            	      <strong data-th-text="#{label_servicereceivedetail_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="servicereceivedetail-lastmodifieddate-field" data-z="966d2ca">
            	      <strong data-th-text="#{label_servicereceivedetail_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="servicereceivedetail-lastmodifiedby-field" data-z="c234f06a">
            	      <strong data-th-text="#{label_servicereceivedetail_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="ServiceReceiveDetail_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('ServiceReceiveDetailsItemThymeleafController').to('editForm').with('serviceReceiveDetail', serviceReceiveDetail.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="ServiceReceiveDetail_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('ServiceReceiveDetailsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
