<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_servicecatalog})}|">Show ServiceCatalog - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${serviceCatalog}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="servicecatalog-code-field" data-z="b943baef">
            	      <strong data-th-text="#{label_servicecatalog_code}">code</strong>
                    <span data-th-text="*{{code}}">codeValue</span>
         	        </li>
                  <li id="servicecatalog-materialname-field" data-z="95ddc26f">
            	      <strong data-th-text="#{label_servicecatalog_materialname}">materialName</strong>
                    <span data-th-text="*{{materialName}}">materialNameValue</span>
         	        </li>
                  <li id="servicecatalog-materialgroup-field" data-z="c5a79b0f">
            	      <strong data-th-text="#{label_servicecatalog_materialgroup}">materialGroup</strong>
                    <span data-th-text="*{{materialGroup}}">materialGroupValue</span>
         	        </li>
                  <li id="servicecatalog-recordstatus-field" data-z="692f944f">
            	      <strong data-th-text="#{label_servicecatalog_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="servicecatalog-createddate-field" data-z="12957f8f">
            	      <strong data-th-text="#{label_servicecatalog_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="servicecatalog-createdby-field" data-z="9a420a6f">
            	      <strong data-th-text="#{label_servicecatalog_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="servicecatalog-lastmodifieddate-field" data-z="14cbf72f">
            	      <strong data-th-text="#{label_servicecatalog_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="servicecatalog-lastmodifiedby-field" data-z="88f1ea0f">
            	      <strong data-th-text="#{label_servicecatalog_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="servicecatalog-category-field" data-z="7a84cf">
            	      <strong data-th-text="#{label_servicecatalog_category}">category</strong>
                    <span data-th-text="*{{category}}">categoryValue</span>
         	        </li>
                  <li id="servicecatalog-purpose-field" data-z="cce7ca6f">
            	      <strong data-th-text="#{label_servicecatalog_purpose}">purpose</strong>
                    <span data-th-text="*{{purpose}}">purposeValue</span>
         	        </li>
                  <li id="servicecatalog-generalledgeraccount-field" data-z="df8894cf">
            	      <strong data-th-text="#{label_servicecatalog_generalledgeraccount}">generalLedgerAccount</strong>
                    <span data-th-text="*{{generalLedgerAccount}}">generalLedgerAccountValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
