<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="preventivemaintenancecontent-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('PreventiveMaintenanceContentsCollectionThymeleafController')},itemLink=${@linkBuilder.of('PreventiveMaintenanceContentsItemThymeleafController')}">
    <table id="preventivemaintenancecontent-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="serialNo" data-th-text="#{label_preventivemaintenancecontent_serialno}">serialNo</th>
          <th data-data="description" data-th-text="#{label_preventivemaintenancecontent_description}">description</th>
          <th data-data="method" data-th-text="#{label_preventivemaintenancecontent_method}">method</th>
          <th data-data="standard" data-th-text="#{label_preventivemaintenancecontent_standard}">standard</th>
          <th data-data="tool" data-th-text="#{label_preventivemaintenancecontent_tool}">tool</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>serialNo</td>
          <td>description</td>
          <td>method</td>
          <td>standard</td>
          <td>tool</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->