<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_planstrategy})}|">Show PlanStrategy - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${planStrategy}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="planstrategy-period-field" data-z="5f3a3d07">
            	      <strong data-th-text="#{label_planstrategy_period}">period</strong>
                    <span data-th-text="*{{period}}">periodValue</span>
         	        </li>
                  <li id="planstrategy-description-field" data-z="2a652517">
            	      <strong data-th-text="#{label_planstrategy_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="planstrategy-recordstatus-field" data-z="bec3ae7">
            	      <strong data-th-text="#{label_planstrategy_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="planstrategy-createddate-field" data-z="38dda5f7">
            	      <strong data-th-text="#{label_planstrategy_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="planstrategy-createdby-field" data-z="e1b0aad7">
            	      <strong data-th-text="#{label_planstrategy_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="planstrategy-lastmodifieddate-field" data-z="252391c7">
            	      <strong data-th-text="#{label_planstrategy_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="planstrategy-lastmodifiedby-field" data-z="6f1f4aa7">
            	      <strong data-th-text="#{label_planstrategy_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
