<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="workorderheader-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('WorkOrderHeadersCollectionThymeleafController')},itemLink=${@linkBuilder.of('WorkOrderHeadersItemThymeleafController')}">
    <table id="workorderheader-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="workOrderCode" data-th-text="#{label_workorderheader_workordercode}">workOrderCode</th>
          <th data-data="workOrderType" data-th-text="#{label_workorderheader_workordertype}">workOrderType</th>
          <th data-data="description" data-th-text="#{label_workorderheader_description}">description</th>
          <th data-data="userStatus" data-th-text="#{label_workorderheader_userstatus}">userStatus</th>
          <th data-data="notificationHeader" data-th-text="#{label_workorderheader_notificationheader}">notificationHeader</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>workOrderCode</td>
          <td>workOrderType</td>
          <td>description</td>
          <td>userStatus</td>
          <td>notificationHeader</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->