<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_workorderheader})}|">Show WorkOrderHeader - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${workOrderHeader}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_workorderheader})}">Show WorkOrderHeader</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_workorderheader})}">WorkOrderHeader data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="workorderheader-workordercode-field" data-z="d9be32ff">
            	      <strong data-th-text="#{label_workorderheader_workordercode}">workOrderCode</strong>
                    <span data-th-text="*{{workOrderCode}}">workOrderCodeValue</span>
         	        </li>
                  <li id="workorderheader-workordertype-field" data-z="f8473d5f">
            	      <strong data-th-text="#{label_workorderheader_workordertype}">workOrderType</strong>
                    <span data-th-text="*{{workOrderType}}">workOrderTypeValue</span>
         	        </li>
                  <li id="workorderheader-description-field" data-z="5216a8bf">
            	      <strong data-th-text="#{label_workorderheader_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="workorderheader-userstatus-field" data-z="5fb1cff">
            	      <strong data-th-text="#{label_workorderheader_userstatus}">userStatus</strong>
                    <span data-th-text="*{{userStatus}}">userStatusValue</span>
         	        </li>
                  <li id="workorderheader-notificationheader-field" data-z="b99cf19f">
            	      <strong data-th-text="#{label_workorderheader_notificationheader}">notificationHeader</strong>
                    <span data-th-text="*{{notificationHeader}}">notificationHeaderValue</span>
         	        </li>
                  <li id="workorderheader-plannergroup-field" data-z="270d7abf">
            	      <strong data-th-text="#{label_workorderheader_plannergroup}">plannerGroup</strong>
                    <span data-th-text="*{{plannerGroup}}">plannerGroupValue</span>
         	        </li>
                  <li id="workorderheader-mainworkcenter-field" data-z="dde834df">
            	      <strong data-th-text="#{label_workorderheader_mainworkcenter}">mainWorkCenter</strong>
                    <span data-th-text="*{{mainWorkCenter}}">mainWorkCenterValue</span>
         	        </li>
                  <li id="workorderheader-activitytype-field" data-z="ea85e37f">
            	      <strong data-th-text="#{label_workorderheader_activitytype}">activityType</strong>
                    <span data-th-text="*{{activityType}}">activityTypeValue</span>
         	        </li>
                  <li id="workorderheader-systemcondition-field" data-z="4a3b269f">
            	      <strong data-th-text="#{label_workorderheader_systemcondition}">systemCondition</strong>
                    <span data-th-text="*{{systemCondition}}">systemConditionValue</span>
         	        </li>
                  <li id="workorderheader-priority-field" data-z="d1da97ff">
            	      <strong data-th-text="#{label_workorderheader_priority}">priority</strong>
                    <span data-th-text="*{{priority}}">priorityValue</span>
         	        </li>
                  <li id="workorderheader-planstartdate-field" data-z="e887af5f">
            	      <strong data-th-text="#{label_workorderheader_planstartdate}">planStartDate</strong>
                    <span data-th-text="*{{planStartDate}}">planStartDateValue</span>
         	        </li>
                  <li id="workorderheader-planfinishdate-field" data-z="9b2b77f">
            	      <strong data-th-text="#{label_workorderheader_planfinishdate}">planFinishDate</strong>
                    <span data-th-text="*{{planFinishDate}}">planFinishDateValue</span>
         	        </li>
                  <li id="workorderheader-actstartdate-field" data-z="4f53e0bf">
            	      <strong data-th-text="#{label_workorderheader_actstartdate}">actStartDate</strong>
                    <span data-th-text="*{{actStartDate}}">actStartDateValue</span>
         	        </li>
                  <li id="workorderheader-actfinishdate-field" data-z="7c6cb21f">
            	      <strong data-th-text="#{label_workorderheader_actfinishdate}">actFinishDate</strong>
                    <span data-th-text="*{{actFinishDate}}">actFinishDateValue</span>
         	        </li>
                  <li id="workorderheader-functionallocation-field" data-z="5e51799f">
            	      <strong data-th-text="#{label_workorderheader_functionallocation}">functionalLocation</strong>
                    <span data-th-text="*{{functionalLocation}}">functionalLocationValue</span>
         	        </li>
                  <li id="workorderheader-equipment-field" data-z="b9f0367f">
            	      <strong data-th-text="#{label_workorderheader_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="workorderheader-plantlocation-field" data-z="20c8385f">
            	      <strong data-th-text="#{label_workorderheader_plantlocation}">plantLocation</strong>
                    <span data-th-text="*{{plantLocation}}">plantLocationValue</span>
         	        </li>
                  <li id="workorderheader-plantsection-field" data-z="6b47f11f">
            	      <strong data-th-text="#{label_workorderheader_plantsection}">plantSection</strong>
                    <span data-th-text="*{{plantSection}}">plantSectionValue</span>
         	        </li>
                  <li id="workorderheader-costcenter-field" data-z="660fd45f">
            	      <strong data-th-text="#{label_workorderheader_costcenter}">costCenter</strong>
                    <span data-th-text="*{{costCenter}}">costCenterValue</span>
         	        </li>
                  <li id="workorderheader-breakdown-field" data-z="de12701f">
            	      <strong data-th-text="#{label_workorderheader_breakdown}">breakdown</strong>
                    <span data-th-text="*{{breakdown}}">breakdownValue</span>
         	        </li>
                  <li id="workorderheader-recordstatus-field" data-z="da6b2c3f">
            	      <strong data-th-text="#{label_workorderheader_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="workorderheader-createddate-field" data-z="608f299f">
            	      <strong data-th-text="#{label_workorderheader_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="workorderheader-createdby-field" data-z="53bef87f">
            	      <strong data-th-text="#{label_workorderheader_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="workorderheader-lastmodifieddate-field" data-z="cd9a171f">
            	      <strong data-th-text="#{label_workorderheader_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="workorderheader-lastmodifiedby-field" data-z="99a745ff">
            	      <strong data-th-text="#{label_workorderheader_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="WorkOrderHeader_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('WorkOrderHeadersItemThymeleafController').to('editForm').with('workOrderHeader', workOrderHeader.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="WorkOrderHeader_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('WorkOrderHeadersCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
