<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_pelletizeruprollerreplacerecord})}|">Show PelletizerUpRollerReplaceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${pelletizerUpRollerReplaceRecord}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_pelletizeruprollerreplacerecord})}">Show PelletizerUpRollerReplaceRecord</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_pelletizeruprollerreplacerecord})}">PelletizerUpRollerReplaceRecord data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="pelletizeruprollerreplacerecord-materialcatalog-field" data-z="3d03aa2b">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-serialnumber-field" data-z="5ca46433">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-equipment-field" data-z="c97f7bcb">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-description-field" data-z="bae9cb0b">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-onlinedate-field" data-z="f43978b3">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_onlinedate}">onlineDate</strong>
                    <span data-th-text="*{{onlineDate}}">onlineDateValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-onlineplan-field" data-z="9f3f553">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_onlineplan}">onlinePlan</strong>
                    <span data-th-text="*{{onlinePlan}}">onlinePlanValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-onlinemaintainer-field" data-z="14f84873">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_onlinemaintainer}">onlineMaintainer</strong>
                    <span data-th-text="*{{onlineMaintainer}}">onlineMaintainerValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-offlinedate-field" data-z="4815088b">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_offlinedate}">offlineDate</strong>
                    <span data-th-text="*{{offlineDate}}">offlineDateValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-offlineplan-field" data-z="5dcf852b">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_offlineplan}">offlinePlan</strong>
                    <span data-th-text="*{{offlinePlan}}">offlinePlanValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-offlinemaintainer-field" data-z="15ee964b">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_offlinemaintainer}">offlineMaintainer</strong>
                    <span data-th-text="*{{offlineMaintainer}}">offlineMaintainerValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-memo-field" data-z="b8542873">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-recordstatus-field" data-z="8bfc5373">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-createddate-field" data-z="c9624beb">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-createdby-field" data-z="634e3dcb">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-lastmodifieddate-field" data-z="771c8453">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-lastmodifiedby-field" data-z="2b8b7033">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-onlineruntime-field" data-z="231c5aeb">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_onlineruntime}">onlineRunTime</strong>
                    <span data-th-text="*{{onlineRunTime}}">onlineRunTimeValue</span>
         	        </li>
                  <li id="pelletizeruprollerreplacerecord-offlineruntime-field" data-z="bec49c13">
            	      <strong data-th-text="#{label_pelletizeruprollerreplacerecord_offlineruntime}">offlineRunTime</strong>
                    <span data-th-text="*{{offlineRunTime}}">offlineRunTimeValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="PelletizerUpRollerReplaceRecord_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('PelletizerUpRollerReplaceRecordsItemThymeleafController').to('editForm').with('pelletizerUpRollerReplaceRecord', pelletizerUpRollerReplaceRecord.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="PelletizerUpRollerReplaceRecord_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('PelletizerUpRollerReplaceRecordsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
