<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_notificationpriority})}|">Show NotificationPriority - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${notificationPriority}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="notificationpriority-priority-field" data-z="b1c0bdda">
            	      <strong data-th-text="#{label_notificationpriority_priority}">priority</strong>
                    <span data-th-text="*{{priority}}">priorityValue</span>
         	        </li>
                  <li id="notificationpriority-schedule-field" data-z="ae616b7a">
            	      <strong data-th-text="#{label_notificationpriority_schedule}">schedule</strong>
                    <span data-th-text="*{{schedule}}">scheduleValue</span>
         	        </li>
                  <li id="notificationpriority-complete-field" data-z="6d081f3a">
            	      <strong data-th-text="#{label_notificationpriority_complete}">complete</strong>
                    <span data-th-text="*{{complete}}">completeValue</span>
         	        </li>
                  <li id="notificationpriority-notificationtype-field" data-z="6b3f62da">
            	      <strong data-th-text="#{label_notificationpriority_notificationtype}">notificationType</strong>
                    <span data-th-text="*{{notificationType}}">notificationTypeValue</span>
         	        </li>
                  <li id="notificationpriority-recordstatus-field" data-z="6cc4ec9a">
            	      <strong data-th-text="#{label_notificationpriority_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="notificationpriority-createddate-field" data-z="c01e71e4">
            	      <strong data-th-text="#{label_notificationpriority_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="notificationpriority-createdby-field" data-z="709d8e04">
            	      <strong data-th-text="#{label_notificationpriority_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="notificationpriority-lastmodifieddate-field" data-z="221631fa">
            	      <strong data-th-text="#{label_notificationpriority_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="notificationpriority-lastmodifiedby-field" data-z="fc925b9a">
            	      <strong data-th-text="#{label_notificationpriority_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
