<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="address-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('AddressesCollectionThymeleafController')},itemLink=${@linkBuilder.of('AddressesItemThymeleafController')}">
    <table id="address-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="description" data-th-text="#{label_address_description}">description</th>
          <th data-data="city" data-th-text="#{label_address_city}">city</th>
          <th data-data="recordStatus" data-th-text="#{label_address_recordstatus}">recordStatus</th>
          <th data-data="createdDate" data-th-text="#{label_address_createddate}">createdDate</th>
          <th data-data="createdBy" data-th-text="#{label_address_createdby}">createdBy</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>description</td>
          <td>city</td>
          <td>recordStatus</td>
          <td>createdDate</td>
          <td>createdBy</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->