<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="storagelocation-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('StorageLocationsCollectionThymeleafController')},itemLink=${@linkBuilder.of('StorageLocationsItemThymeleafController')}">
    <table id="storagelocation-entity-table-items-to-remove-batch" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="warehouse" data-th-text="#{label_storagelocation_warehouse}">warehouse</th>
          <th data-data="location" data-th-text="#{label_storagelocation_location}">location</th>
          <th data-data="binName" data-th-text="#{label_storagelocation_binname}">binName</th>
          <th data-data="description" data-th-text="#{label_storagelocation_description}">description</th>
          <th data-data="recordStatus" data-th-text="#{label_storagelocation_recordstatus}">recordStatus</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>warehouse</td>
          <td>location</td>
          <td>binName</td>
          <td>description</td>
          <td>recordStatus</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->