<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="notificationheaders-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('NotificationPrioritiesItemNotificationHeadersThymeleafController')}">
    <table id="notificationheaders-detail-table-items-to-remove-batch" data-parent-table="notificationpriority-entity-table" data-data-parent-id="${notificationPriority != null ? notificationPriority.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('notificationPriority', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="notificationCode" data-th-text="#{label_notificationpriority_notificationheaders_notificationcode}">notificationCode</th>
              <th data-data="notificationType" data-th-text="#{label_notificationpriority_notificationheaders_notificationtype}">notificationType</th>
              <th data-data="reportedDate" data-th-text="#{label_notificationpriority_notificationheaders_reporteddate}">reportedDate</th>
              <th data-data="reportedBy" data-th-text="#{label_notificationpriority_notificationheaders_reportedby}">reportedBy</th>
              <th data-data="description" data-th-text="#{label_notificationpriority_notificationheaders_description}">description</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>notificationCode</td>
              <td>notificationType</td>
              <td>reportedDate</td>
              <td>reportedBy</td>
              <td>description</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->