<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_assetinventoryrecord})}|">Show AssetInventoryRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${assetInventoryRecord}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="assetinventoryrecord-checkdate-field" data-z="ac54aa36">
            	      <strong data-th-text="#{label_assetinventoryrecord_checkdate}">checkDate</strong>
                    <span data-th-text="*{{checkDate}}">checkDateValue</span>
         	        </li>
                  <li id="assetinventoryrecord-description-field" data-z="adae2b96">
            	      <strong data-th-text="#{label_assetinventoryrecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="assetinventoryrecord-assetstatus-field" data-z="41ebcaf6">
            	      <strong data-th-text="#{label_assetinventoryrecord_assetstatus}">assetStatus</strong>
                    <span data-th-text="*{{assetStatus}}">assetStatusValue</span>
         	        </li>
                  <li id="assetinventoryrecord-category-field" data-z="452fd948">
            	      <strong data-th-text="#{label_assetinventoryrecord_category}">category</strong>
                    <span data-th-text="*{{category}}">categoryValue</span>
         	        </li>
                  <li id="assetinventoryrecord-subcategory-field" data-z="cdc62776">
            	      <strong data-th-text="#{label_assetinventoryrecord_subcategory}">subCategory</strong>
                    <span data-th-text="*{{subCategory}}">subCategoryValue</span>
         	        </li>
                  <li id="assetinventoryrecord-sparepart-field" data-z="c6d9bb96">
            	      <strong data-th-text="#{label_assetinventoryrecord_sparepart}">sparepart</strong>
                    <span data-th-text="*{{sparepart}}">sparepartValue</span>
         	        </li>
                  <li id="assetinventoryrecord-idlebeginningdate-field" data-z="3a0c3ef6">
            	      <strong data-th-text="#{label_assetinventoryrecord_idlebeginningdate}">idleBeginningDate</strong>
                    <span data-th-text="*{{idleBeginningDate}}">idleBeginningDateValue</span>
         	        </li>
                  <li id="assetinventoryrecord-rootcausereason-field" data-z="d1050e36">
            	      <strong data-th-text="#{label_assetinventoryrecord_rootcausereason}">rootCauseReason</strong>
                    <span data-th-text="*{{rootCauseReason}}">rootCauseReasonValue</span>
         	        </li>
                  <li id="assetinventoryrecord-actionplan-field" data-z="f5a19708">
            	      <strong data-th-text="#{label_assetinventoryrecord_actionplan}">actionPlan</strong>
                    <span data-th-text="*{{actionPlan}}">actionPlanValue</span>
         	        </li>
                  <li id="assetinventoryrecord-checkresult-field" data-z="54ccce96">
            	      <strong data-th-text="#{label_assetinventoryrecord_checkresult}">checkResult</strong>
                    <span data-th-text="*{{checkResult}}">checkResultValue</span>
         	        </li>
                  <li id="assetinventoryrecord-equipment-field" data-z="52688316">
            	      <strong data-th-text="#{label_assetinventoryrecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="assetinventoryrecord-recorder-field" data-z="1a16148">
            	      <strong data-th-text="#{label_assetinventoryrecord_recorder}">recorder</strong>
                    <span data-th-text="*{{recorder}}">recorderValue</span>
         	        </li>
                  <li id="assetinventoryrecord-recordstatus-field" data-z="f1c40448">
            	      <strong data-th-text="#{label_assetinventoryrecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="assetinventoryrecord-createddate-field" data-z="bc26ac76">
            	      <strong data-th-text="#{label_assetinventoryrecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="assetinventoryrecord-createdby-field" data-z="ec374516">
            	      <strong data-th-text="#{label_assetinventoryrecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="assetinventoryrecord-lastmodifieddate-field" data-z="5d45c2a8">
            	      <strong data-th-text="#{label_assetinventoryrecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="assetinventoryrecord-lastmodifiedby-field" data-z="3e2a3fc8">
            	      <strong data-th-text="#{label_assetinventoryrecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
