<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_materialcatalog})}">
    Edit MaterialCatalog - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('MaterialCatalogsCollectionThymeleafController')},itemLink=${@linkBuilder.of('MaterialCatalogsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_materialcatalog})}">Edit MaterialCatalog</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${materialCatalog}" data-th-action="${itemLink.to('update').with('materialCatalog', materialCatalog.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('materialCatalog', materialCatalog.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_materialcatalog})}">MaterialCatalog data </legend>

<div class="form-group has-error has-feedback" data-z="2d27ba47" id="materialcatalog-code-field" data-th-classappend="${#fields.hasErrors('code')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="code" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_code}">code</label>
  <div class="col-md-6">
    <input id="code" name="code" data-th-value="*{{code}}" type="text" class="form-control" placeholder="code" data-th-placeholder="#{label_materialcatalog_code}" data-toggle="tooltip" aria-describedby="codeStatus" />
      <span data-th-classappend="${#fields.hasErrors('code')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('code')}" aria-hidden="true"></span>
      <span id="code-error" class="help-block" data-th-if="${#fields.hasErrors('code')}" data-th-errors="*{code}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="98d8e9c7" id="materialcatalog-materialname-field" data-th-classappend="${#fields.hasErrors('materialName')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="materialName" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_materialname}">materialName</label>
  <div class="col-md-6">
    <input id="materialName" name="materialName" data-th-value="*{{materialName}}" type="text" class="form-control" placeholder="materialName" data-th-placeholder="#{label_materialcatalog_materialname}" data-toggle="tooltip" aria-describedby="materialNameStatus" />
      <span data-th-classappend="${#fields.hasErrors('materialName')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('materialName')}" aria-hidden="true"></span>
      <span id="materialName-error" class="help-block" data-th-if="${#fields.hasErrors('materialName')}" data-th-errors="*{materialName}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="22115eb7" id="materialcatalog-materialgroup-field" data-th-classappend="${#fields.hasErrors('materialGroup')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="materialGroup" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_materialgroup}">materialGroup</label>
  <div class="col-md-6">
    <input id="materialGroup" name="materialGroup" data-th-value="*{{materialGroup}}" type="text" class="form-control" placeholder="materialGroup" data-th-placeholder="#{label_materialcatalog_materialgroup}" data-toggle="tooltip" aria-describedby="materialGroupStatus" />
      <span data-th-classappend="${#fields.hasErrors('materialGroup')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('materialGroup')}" aria-hidden="true"></span>
      <span id="materialGroup-error" class="help-block" data-th-if="${#fields.hasErrors('materialGroup')}" data-th-errors="*{materialGroup}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="6c2abba7" id="materialcatalog-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="a4c90fe7" id="materialcatalog-materialtype-field" data-th-classappend="${#fields.hasErrors('materialType')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MaterialTypesCollectionThymeleafController')}">
    <label for="materialType" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_materialtype}">MaterialType</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{materialType}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{materialType} == null" data-th-value="*{materialType.id}" data-th-text="*{{materialType}}" selected="selected">MaterialType</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('materialType')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('materialType')}" aria-hidden="true"></span>
      <span id="materialType-error" class="help-block" data-th-if="${#fields.hasErrors('materialType')}" data-th-errors="*{materialType}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d6184fe7" id="materialcatalog-discipline-field" data-th-classappend="${#fields.hasErrors('discipline')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MaterialDisciplinesCollectionThymeleafController')}">
    <label for="discipline" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_discipline}">MaterialDiscipline</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{discipline}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{discipline} == null" data-th-value="*{discipline.id}" data-th-text="*{{discipline}}" selected="selected">MaterialDiscipline</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('discipline')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('discipline')}" aria-hidden="true"></span>
      <span id="discipline-error" class="help-block" data-th-if="${#fields.hasErrors('discipline')}" data-th-errors="*{discipline}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="materialcatalog-instocktype-field" data-z="75d93a97" data-th-classappend="${#fields.hasErrors('instockType')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="instockType" data-th-text="#{label_materialcatalog_instocktype}">instockType</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{instockType}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('instockType')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('instockType')}" aria-hidden="true"></span>
        <span id="instockType-error" class="help-block" data-th-if="${#fields.hasErrors('instockType')}" data-th-errors="*{instockType}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="c06abd77" id="materialcatalog-uom-field" data-th-classappend="${#fields.hasErrors('uom')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('UnitOfMeasuresCollectionThymeleafController')}">
    <label for="uom" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_uom}">UnitOfMeasure</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{uom}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{uom} == null" data-th-value="*{uom.id}" data-th-text="*{{uom}}" selected="selected">UnitOfMeasure</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('uom')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('uom')}" aria-hidden="true"></span>
      <span id="uom-error" class="help-block" data-th-if="${#fields.hasErrors('uom')}" data-th-errors="*{uom}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="materialcatalog-usefullife-field" data-z="5cdddfc7" data-th-classappend="${#fields.hasErrors('usefulLife')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="usefulLife" data-th-text="#{label_materialcatalog_usefullife}">usefulLife</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{usefulLife}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('usefulLife')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('usefulLife')}" aria-hidden="true"></span>
        <span id="usefulLife-error" class="help-block" data-th-if="${#fields.hasErrors('usefulLife')}" data-th-errors="*{usefulLife}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="cc6a2a77" id="materialcatalog-shelflifedays-field" data-th-classappend="${#fields.hasErrors('shelfLifeDays')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="shelfLifeDays" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_shelflifedays}">shelfLifeDays</label>
  <div class="col-md-3">
    <input id="shelfLifeDays" name="shelfLifeDays" data-th-value="*{{shelfLifeDays}}" type="text" class="form-control inputmask" placeholder="shelfLifeDays" data-th-placeholder="#{label_materialcatalog_shelflifedays}" data-toggle="tooltip" aria-describedby="shelfLifeDaysStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" />
      <span data-th-classappend="${#fields.hasErrors('shelfLifeDays')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('shelfLifeDays')}" aria-hidden="true"></span>
      <span id="shelfLifeDays-error" class="help-block" data-th-if="${#fields.hasErrors('shelfLifeDays')}" data-th-errors="*{shelfLifeDays}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="f736a7c7" id="materialcatalog-shortdescription-field" data-th-classappend="${#fields.hasErrors('shortDescription')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="shortDescription" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_shortdescription}">shortDescription</label>
  <div class="col-md-6">
    <input id="shortDescription" name="shortDescription" data-th-value="*{{shortDescription}}" type="text" class="form-control" placeholder="shortDescription" data-th-placeholder="#{label_materialcatalog_shortdescription}" data-toggle="tooltip" aria-describedby="shortDescriptionStatus" />
      <span data-th-classappend="${#fields.hasErrors('shortDescription')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('shortDescription')}" aria-hidden="true"></span>
      <span id="shortDescription-error" class="help-block" data-th-if="${#fields.hasErrors('shortDescription')}" data-th-errors="*{shortDescription}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="581fcfb7" id="materialcatalog-longdescription-field" data-th-classappend="${#fields.hasErrors('longDescription')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="longDescription" class="col-md-3 control-label" data-th-text="#{label_materialcatalog_longdescription}">longDescription</label>
  <div class="col-md-6">
    <input id="longDescription" name="longDescription" data-th-value="*{{longDescription}}" type="text" class="form-control" placeholder="longDescription" data-th-placeholder="#{label_materialcatalog_longdescription}" data-toggle="tooltip" aria-describedby="longDescriptionStatus" />
      <span data-th-classappend="${#fields.hasErrors('longDescription')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('longDescription')}" aria-hidden="true"></span>
      <span id="longDescription-error" class="help-block" data-th-if="${#fields.hasErrors('longDescription')}" data-th-errors="*{longDescription}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="materialcatalog-hazardousmaterial-field" data-z="b17101b7" data-th-classappend="${#fields.hasErrors('hazardousMaterial')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="hazardousMaterial" data-th-text="#{label_materialcatalog_hazardousmaterial}">hazardousMaterial</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{hazardousMaterial}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('hazardousMaterial')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('hazardousMaterial')}" aria-hidden="true"></span>
        <span id="hazardousMaterial-error" class="help-block" data-th-if="${#fields.hasErrors('hazardousMaterial')}" data-th-errors="*{hazardousMaterial}">Error message.</span>
    </div>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
