<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="materialinstockdetails-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('StorageTypesItemMaterialInstockDetailsThymeleafController')}">
    <table id="materialinstockdetails-detail-table-items-to-remove-batch" data-parent-table="storagetype-entity-table" data-data-parent-id="${storageType != null ? storageType.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('storageType', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="quantity" data-th-text="#{label_storagetype_materialinstockdetails_quantity}">quantity</th>
              <th data-data="goodReceiveNo" data-th-text="#{label_storagetype_materialinstockdetails_goodreceiveno}">goodReceiveNo</th>
              <th data-data="receiveDate" data-th-text="#{label_storagetype_materialinstockdetails_receivedate}">receiveDate</th>
              <th data-data="receiver" data-th-text="#{label_storagetype_materialinstockdetails_receiver}">receiver</th>
              <th data-data="invoiceDate" data-th-text="#{label_storagetype_materialinstockdetails_invoicedate}">invoiceDate</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>quantity</td>
              <td>goodReceiveNo</td>
              <td>receiveDate</td>
              <td>receiver</td>
              <td>invoiceDate</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->