<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="equipmentlubrications-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('EquipmentsItemEquipmentLubricationsThymeleafController')}">
    <table id="equipmentlubrications-detail-table-items-to-remove-batch" data-parent-table="equipment-entity-table" data-data-parent-id="${equipment != null ? equipment.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('equipment', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="materialCatalog" data-th-text="#{label_equipment_equipmentlubrications_materialcatalog}">materialCatalog</th>
              <th data-data="fillQuantity" data-th-text="#{label_equipment_equipmentlubrications_fillquantity}">fillQuantity</th>
              <th data-data="lubPoint" data-th-text="#{label_equipment_equipmentlubrications_lubpoint}">lubPoint</th>
              <th data-data="lubUnit" data-th-text="#{label_equipment_equipmentlubrications_lubunit}">lubUnit</th>
              <th data-data="intervalCycleUnit" data-th-text="#{label_equipment_equipmentlubrications_intervalcycleunit}">intervalCycleUnit</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>materialCatalog</td>
              <td>fillQuantity</td>
              <td>lubPoint</td>
              <td>lubUnit</td>
              <td>intervalCycleUnit</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->