<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_maintenanceactivitytype})}|">Show MaintenanceActivityType - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${maintenanceActivityType}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_maintenanceactivitytype})}">Show MaintenanceActivityType</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_maintenanceactivitytype})}">MaintenanceActivityType data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="maintenanceactivitytype-code-field" data-z="f0d53611">
            	      <strong data-th-text="#{label_maintenanceactivitytype_code}">code</strong>
                    <span data-th-text="*{{code}}">codeValue</span>
         	        </li>
                  <li id="maintenanceactivitytype-description-field" data-z="53e3194d">
            	      <strong data-th-text="#{label_maintenanceactivitytype_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="maintenanceactivitytype-recordstatus-field" data-z="122ccd71">
            	      <strong data-th-text="#{label_maintenanceactivitytype_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="maintenanceactivitytype-createddate-field" data-z="625b9a2d">
            	      <strong data-th-text="#{label_maintenanceactivitytype_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="maintenanceactivitytype-createdby-field" data-z="936a348d">
            	      <strong data-th-text="#{label_maintenanceactivitytype_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="maintenanceactivitytype-lastmodifieddate-field" data-z="1c63cf51">
            	      <strong data-th-text="#{label_maintenanceactivitytype_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="maintenanceactivitytype-lastmodifiedby-field" data-z="e78562b1">
            	      <strong data-th-text="#{label_maintenanceactivitytype_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="MaintenanceActivityType_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('MaintenanceActivityTypesItemThymeleafController').to('editForm').with('maintenanceActivityType', maintenanceActivityType.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="MaintenanceActivityType_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('MaintenanceActivityTypesCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
