<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_preventivemaintenanceexecution})}|">Show PreventiveMaintenanceExecution - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${preventiveMaintenanceExecution}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="preventivemaintenanceexecution-preventivemaintenancecontent-field" data-z="1ed377b0">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_preventivemaintenancecontent}">preventiveMaintenanceContent</strong>
                    <span data-th-text="*{{preventiveMaintenanceContent}}">preventiveMaintenanceContentValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-technicalobject-field" data-z="15b18d4e">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_technicalobject}">technicalObject</strong>
                    <span data-th-text="*{{technicalObject}}">technicalObjectValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-description-field" data-z="85fac4ae">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-startdate-field" data-z="7cb9c60e">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_startdate}">startDate</strong>
                    <span data-th-text="*{{startDate}}">startDateValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-completedate-field" data-z="2ebc89b0">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_completedate}">completeDate</strong>
                    <span data-th-text="*{{completeDate}}">completeDateValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-owner-field" data-z="2243910e">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_owner}">owner</strong>
                    <span data-th-text="*{{owner}}">ownerValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-preventivemaintenancefinding-field" data-z="4aa2d5b0">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_preventivemaintenancefinding}">preventiveMaintenanceFinding</strong>
                    <span data-th-text="*{{preventiveMaintenanceFinding}}">preventiveMaintenanceFindingValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-recordstatus-field" data-z="230a8e30">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-createddate-field" data-z="9473458e">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-createdby-field" data-z="9887442e">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-lastmodifieddate-field" data-z="12e51890">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="preventivemaintenanceexecution-lastmodifiedby-field" data-z="37f5efb0">
            	      <strong data-th-text="#{label_preventivemaintenanceexecution_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
