<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_pelletizercutterreplacerecord})}|">Show PelletizerCutterReplaceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${pelletizerCutterReplaceRecord}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="pelletizercutterreplacerecord-materialcatalog-field" data-z="eb584645">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-serialnumber-field" data-z="b710ce59">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-equipment-field" data-z="8a19b365">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-description-field" data-z="bdd48425">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-onlinedate-field" data-z="46e63459">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_onlinedate}">onlineDate</strong>
                    <span data-th-text="*{{onlineDate}}">onlineDateValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-onlineplan-field" data-z="5ca0b0f9">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_onlineplan}">onlinePlan</strong>
                    <span data-th-text="*{{onlinePlan}}">onlinePlanValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-onlinemaintainer-field" data-z="31372f99">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_onlinemaintainer}">onlineMaintainer</strong>
                    <span data-th-text="*{{onlineMaintainer}}">onlineMaintainerValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-offlinedate-field" data-z="4affc1a5">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_offlinedate}">offlineDate</strong>
                    <span data-th-text="*{{offlineDate}}">offlineDateValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-offlineplan-field" data-z="60ba3e45">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_offlineplan}">offlinePlan</strong>
                    <span data-th-text="*{{offlinePlan}}">offlinePlanValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-offlinemaintainer-field" data-z="818c93e5">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_offlinemaintainer}">offlineMaintainer</strong>
                    <span data-th-text="*{{offlineMaintainer}}">offlineMaintainerValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-memo-field" data-z="cb881899">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-recordstatus-field" data-z="e668bd99">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-createddate-field" data-z="cc4d0505">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-createdby-field" data-z="23e87565">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-lastmodifieddate-field" data-z="935b6b79">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-lastmodifiedby-field" data-z="9c85e8d9">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-onlineruntime-field" data-z="163d3585">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_onlineruntime}">onlineRunTime</strong>
                    <span data-th-text="*{{onlineRunTime}}">onlineRunTimeValue</span>
         	        </li>
                  <li id="pelletizercutterreplacerecord-offlineruntime-field" data-z="2fbf14b9">
            	      <strong data-th-text="#{label_pelletizercutterreplacerecord_offlineruntime}">offlineRunTime</strong>
                    <span data-th-text="*{{offlineRunTime}}">offlineRunTimeValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
