<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="serviceprocurementitemdetails-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('ServiceCatalogsItemServiceProcurementItemDetailsThymeleafController')}">
    <table id="serviceprocurementitemdetails-detail-table-items-to-remove-batch" data-parent-table="servicecatalog-entity-table" data-data-parent-id="${serviceCatalog != null ? serviceCatalog.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('serviceCatalog', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="procurementRequest" data-th-text="#{label_servicecatalog_serviceprocurementitemdetails_procurementrequest}">procurementRequest</th>
              <th data-data="procurementOrder" data-th-text="#{label_servicecatalog_serviceprocurementitemdetails_procurementorder}">procurementOrder</th>
              <th data-data="requester" data-th-text="#{label_servicecatalog_serviceprocurementitemdetails_requester}">requester</th>
              <th data-data="prNumber" data-th-text="#{label_servicecatalog_serviceprocurementitemdetails_prnumber}">prNumber</th>
              <th data-data="poNumber" data-th-text="#{label_servicecatalog_serviceprocurementitemdetails_ponumber}">poNumber</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>procurementRequest</td>
              <td>procurementOrder</td>
              <td>requester</td>
              <td>prNumber</td>
              <td>poNumber</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->