<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="materialprocurementitemdetail-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('MaterialProcurementItemDetailsCollectionThymeleafController')},itemLink=${@linkBuilder.of('MaterialProcurementItemDetailsItemThymeleafController')}">
    <table id="materialprocurementitemdetail-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="procurementRequest" data-th-text="#{label_materialprocurementitemdetail_procurementrequest}">procurementRequest</th>
          <th data-data="procurementOrder" data-th-text="#{label_materialprocurementitemdetail_procurementorder}">procurementOrder</th>
          <th data-data="requester" data-th-text="#{label_materialprocurementitemdetail_requester}">requester</th>
          <th data-data="prNumber" data-th-text="#{label_materialprocurementitemdetail_prnumber}">prNumber</th>
          <th data-data="poNumber" data-th-text="#{label_materialprocurementitemdetail_ponumber}">poNumber</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>procurementRequest</td>
          <td>procurementOrder</td>
          <td>requester</td>
          <td>prNumber</td>
          <td>poNumber</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->