<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="documents-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('LotoInfoesItemDocumentsThymeleafController')}">
    <table id="documents-detail-table-item-to-remove" data-parent-table="lotoinfo-entity-table" data-data-parent-id="${lotoInfo != null ? lotoInfo.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('lotoInfo', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="fileName" data-th-text="#{label_lotoinfo_documents_filename}">fileName</th>
              <th data-data="description" data-th-text="#{label_lotoinfo_documents_description}">description</th>
              <th data-data="fileType" data-th-text="#{label_lotoinfo_documents_filetype}">fileType</th>
              <th data-data="uploadDate" data-th-text="#{label_lotoinfo_documents_uploaddate}">uploadDate</th>
              <th data-data="lotoInfo" data-th-text="#{label_lotoinfo_documents_lotoinfo}">lotoInfo</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>fileName</td>
              <td>description</td>
              <td>fileType</td>
              <td>uploadDate</td>
              <td>lotoInfo</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->