<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="productmasterdatas-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('ShaftTypesItemProductMasterDatasThymeleafController')}">
    <table id="productmasterdatas-detail-table-items-to-remove-batch" data-parent-table="shafttype-entity-table" data-data-parent-id="${shaftType != null ? shaftType.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('shaftType', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="materialCode" data-th-text="#{label_shafttype_productmasterdatas_materialcode}">materialCode</th>
              <th data-data="grade" data-th-text="#{label_shafttype_productmasterdatas_grade}">grade</th>
              <th data-data="color" data-th-text="#{label_shafttype_productmasterdatas_color}">color</th>
              <th data-data="description" data-th-text="#{label_shafttype_productmasterdatas_description}">description</th>
              <th data-data="productType" data-th-text="#{label_shafttype_productmasterdatas_producttype}">productType</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>materialCode</td>
              <td>grade</td>
              <td>color</td>
              <td>description</td>
              <td>productType</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->