<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_equipmentreplacerecord})}">
    Edit EquipmentReplaceRecord - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('EquipmentReplaceRecordsCollectionThymeleafController')},itemLink=${@linkBuilder.of('EquipmentReplaceRecordsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_equipmentreplacerecord})}">Edit EquipmentReplaceRecord</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${equipmentReplaceRecord}" data-th-action="${itemLink.to('update').with('equipmentReplaceRecord', equipmentReplaceRecord.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('equipmentReplaceRecord', equipmentReplaceRecord.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_equipmentreplacerecord})}">EquipmentReplaceRecord data </legend>

<div class="form-group has-error has-feedback" data-z="e834c8bc" id="equipmentreplacerecord-technicalobject-field" data-th-classappend="${#fields.hasErrors('technicalObject')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TechnicalObjectsCollectionThymeleafController')}">
    <label for="technicalObject" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_technicalobject}">TechnicalObject</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{technicalObject}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{technicalObject} == null" data-th-value="*{technicalObject.id}" data-th-text="*{{technicalObject}}" selected="selected">TechnicalObject</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('technicalObject')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('technicalObject')}" aria-hidden="true"></span>
      <span id="technicalObject-error" class="help-block" data-th-if="${#fields.hasErrors('technicalObject')}" data-th-errors="*{technicalObject}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d570681c" id="equipmentreplacerecord-equipment-field" data-th-classappend="${#fields.hasErrors('equipment')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EquipmentsCollectionThymeleafController')}">
    <label for="equipment" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_equipment}">Equipment</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{equipment}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{equipment} == null" data-th-value="*{equipment.id}" data-th-text="*{{equipment}}" selected="selected">Equipment</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('equipment')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('equipment')}" aria-hidden="true"></span>
      <span id="equipment-error" class="help-block" data-th-if="${#fields.hasErrors('equipment')}" data-th-errors="*{equipment}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="8e50e71c" id="equipmentreplacerecord-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_equipmentreplacerecord_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="equipmentreplacerecord-onlinedate-field" data-z="66661682" data-th-classappend="${#fields.hasErrors('onlineDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="onlineDate" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_onlinedate}">onlineDate</label>
  <div class="col-md-3">
    <input id="onlineDate" name="onlineDate" data-th-value="*{{onlineDate}}" type="text" class="form-control datetimepicker" placeholder="onlineDate" data-th-placeholder="#{label_equipmentreplacerecord_onlinedate}" data-th-attr="data-dateformat=${onlineDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('onlineDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('onlineDate')}" aria-hidden="true"></span>
     <span id="onlineDate-error" class="help-block" data-th-if="${#fields.hasErrors('onlineDate')}" data-th-errors="*{onlineDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="equipmentreplacerecord-onlineplan-field" data-z="7c209322" data-th-classappend="${#fields.hasErrors('onlinePlan')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="onlinePlan" data-th-text="#{label_equipmentreplacerecord_onlineplan}">onlinePlan</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{onlinePlan}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('onlinePlan')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('onlinePlan')}" aria-hidden="true"></span>
        <span id="onlinePlan-error" class="help-block" data-th-if="${#fields.hasErrors('onlinePlan')}" data-th-errors="*{onlinePlan}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="2ea50f02" id="equipmentreplacerecord-onlinemaintainer-field" data-th-classappend="${#fields.hasErrors('onlineMaintainer')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="onlineMaintainer" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_onlinemaintainer}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{onlineMaintainer}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{onlineMaintainer} == null" data-th-value="*{onlineMaintainer.id}" data-th-text="*{{onlineMaintainer}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('onlineMaintainer')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('onlineMaintainer')}" aria-hidden="true"></span>
      <span id="onlineMaintainer-error" class="help-block" data-th-if="${#fields.hasErrors('onlineMaintainer')}" data-th-errors="*{onlineMaintainer}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="equipmentreplacerecord-offlinedate-field" data-z="1b7c249c" data-th-classappend="${#fields.hasErrors('offlineDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="offlineDate" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_offlinedate}">offlineDate</label>
  <div class="col-md-3">
    <input id="offlineDate" name="offlineDate" data-th-value="*{{offlineDate}}" type="text" class="form-control datetimepicker" placeholder="offlineDate" data-th-placeholder="#{label_equipmentreplacerecord_offlinedate}" data-th-attr="data-dateformat=${offlineDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('offlineDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('offlineDate')}" aria-hidden="true"></span>
     <span id="offlineDate-error" class="help-block" data-th-if="${#fields.hasErrors('offlineDate')}" data-th-errors="*{offlineDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="equipmentreplacerecord-offlineplan-field" data-z="3136a13c" data-th-classappend="${#fields.hasErrors('offlinePlan')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="offlinePlan" data-th-text="#{label_equipmentreplacerecord_offlineplan}">offlinePlan</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{offlinePlan}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('offlinePlan')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('offlinePlan')}" aria-hidden="true"></span>
        <span id="offlinePlan-error" class="help-block" data-th-if="${#fields.hasErrors('offlinePlan')}" data-th-errors="*{offlinePlan}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="31daa19c" id="equipmentreplacerecord-offlinemaintainer-field" data-th-classappend="${#fields.hasErrors('offlineMaintainer')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="offlineMaintainer" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_offlinemaintainer}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{offlineMaintainer}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{offlineMaintainer} == null" data-th-value="*{offlineMaintainer.id}" data-th-text="*{{offlineMaintainer}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('offlineMaintainer')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('offlineMaintainer')}" aria-hidden="true"></span>
      <span id="offlineMaintainer-error" class="help-block" data-th-if="${#fields.hasErrors('offlineMaintainer')}" data-th-errors="*{offlineMaintainer}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="78830d82" id="equipmentreplacerecord-memo-field" data-th-classappend="${#fields.hasErrors('memo')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="memo" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_memo}">memo</label>
  <div class="col-md-6">
    <input id="memo" name="memo" data-th-value="*{{memo}}" type="text" class="form-control" placeholder="memo" data-th-placeholder="#{label_equipmentreplacerecord_memo}" data-toggle="tooltip" aria-describedby="memoStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('memo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('memo')}" aria-hidden="true"></span>
      <span id="memo-error" class="help-block" data-th-if="${#fields.hasErrors('memo')}" data-th-errors="*{memo}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="2578b982" id="equipmentreplacerecord-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_equipmentreplacerecord_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
