<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_equipmentreplacerecord})}|">Show EquipmentReplaceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${equipmentReplaceRecord}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_equipmentreplacerecord})}">Show EquipmentReplaceRecord</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_equipmentreplacerecord})}">EquipmentReplaceRecord data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="equipmentreplacerecord-technicalobject-field" data-z="e834c8bc">
            	      <strong data-th-text="#{label_equipmentreplacerecord_technicalobject}">technicalObject</strong>
                    <span data-th-text="*{{technicalObject}}">technicalObjectValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-equipment-field" data-z="d570681c">
            	      <strong data-th-text="#{label_equipmentreplacerecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-description-field" data-z="8e50e71c">
            	      <strong data-th-text="#{label_equipmentreplacerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-onlinedate-field" data-z="66661682">
            	      <strong data-th-text="#{label_equipmentreplacerecord_onlinedate}">onlineDate</strong>
                    <span data-th-text="*{{onlineDate}}">onlineDateValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-onlineplan-field" data-z="7c209322">
            	      <strong data-th-text="#{label_equipmentreplacerecord_onlineplan}">onlinePlan</strong>
                    <span data-th-text="*{{onlinePlan}}">onlinePlanValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-onlinemaintainer-field" data-z="2ea50f02">
            	      <strong data-th-text="#{label_equipmentreplacerecord_onlinemaintainer}">onlineMaintainer</strong>
                    <span data-th-text="*{{onlineMaintainer}}">onlineMaintainerValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-offlinedate-field" data-z="1b7c249c">
            	      <strong data-th-text="#{label_equipmentreplacerecord_offlinedate}">offlineDate</strong>
                    <span data-th-text="*{{offlineDate}}">offlineDateValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-offlineplan-field" data-z="3136a13c">
            	      <strong data-th-text="#{label_equipmentreplacerecord_offlineplan}">offlinePlan</strong>
                    <span data-th-text="*{{offlinePlan}}">offlinePlanValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-offlinemaintainer-field" data-z="31daa19c">
            	      <strong data-th-text="#{label_equipmentreplacerecord_offlinemaintainer}">offlineMaintainer</strong>
                    <span data-th-text="*{{offlineMaintainer}}">offlineMaintainerValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-memo-field" data-z="78830d82">
            	      <strong data-th-text="#{label_equipmentreplacerecord_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-recordstatus-field" data-z="2578b982">
            	      <strong data-th-text="#{label_equipmentreplacerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-createddate-field" data-z="9cc967fc">
            	      <strong data-th-text="#{label_equipmentreplacerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-createdby-field" data-z="6f3f2a1c">
            	      <strong data-th-text="#{label_equipmentreplacerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-lastmodifieddate-field" data-z="90c94ae2">
            	      <strong data-th-text="#{label_equipmentreplacerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="equipmentreplacerecord-lastmodifiedby-field" data-z="57868e82">
            	      <strong data-th-text="#{label_equipmentreplacerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="EquipmentReplaceRecord_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('EquipmentReplaceRecordsItemThymeleafController').to('editForm').with('equipmentReplaceRecord', equipmentReplaceRecord.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="EquipmentReplaceRecord_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('EquipmentReplaceRecordsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
