<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_materialdiscipline})}|">Show MaterialDiscipline - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${materialDiscipline}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_materialdiscipline})}">Show MaterialDiscipline</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_materialdiscipline})}">MaterialDiscipline data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="materialdiscipline-description-field" data-z="3d15eafc">
            	      <strong data-th-text="#{label_materialdiscipline_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="materialdiscipline-discipline-field" data-z="438d08a2">
            	      <strong data-th-text="#{label_materialdiscipline_discipline}">discipline</strong>
                    <span data-th-text="*{{discipline}}">disciplineValue</span>
         	        </li>
                  <li id="materialdiscipline-recordstatus-field" data-z="4f5431a2">
            	      <strong data-th-text="#{label_materialdiscipline_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="materialdiscipline-createddate-field" data-z="4b8e6bdc">
            	      <strong data-th-text="#{label_materialdiscipline_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="materialdiscipline-createdby-field" data-z="c933a5fc">
            	      <strong data-th-text="#{label_materialdiscipline_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="materialdiscipline-lastmodifieddate-field" data-z="f1ebb302">
            	      <strong data-th-text="#{label_materialdiscipline_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="materialdiscipline-lastmodifiedby-field" data-z="78647ea2">
            	      <strong data-th-text="#{label_materialdiscipline_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="MaterialDiscipline_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('MaterialDisciplinesItemThymeleafController').to('editForm').with('materialDiscipline', materialDiscipline.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="MaterialDiscipline_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('MaterialDisciplinesCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
