<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_functionallocation})}|">Show FunctionalLocation - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${functionalLocation}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="functionallocation-tag-field" data-z="526125fb">
            	      <strong data-th-text="#{label_functionallocation_tag}">tag</strong>
                    <span data-th-text="*{{tag}}">tagValue</span>
         	        </li>
                  <li id="functionallocation-description-field" data-z="35cd85bb">
            	      <strong data-th-text="#{label_functionallocation_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="functionallocation-descriptionlocal-field" data-z="37ae3303">
            	      <strong data-th-text="#{label_functionallocation_descriptionlocal}">descriptionLocal</strong>
                    <span data-th-text="*{{descriptionLocal}}">descriptionLocalValue</span>
         	        </li>
                  <li id="functionallocation-abcindicator-field" data-z="faadcd43">
            	      <strong data-th-text="#{label_functionallocation_abcindicator}">abcIndicator</strong>
                    <span data-th-text="*{{abcIndicator}}">abcIndicatorValue</span>
         	        </li>
                  <li id="functionallocation-organization-field" data-z="925e14a3">
            	      <strong data-th-text="#{label_functionallocation_organization}">organization</strong>
                    <span data-th-text="*{{organization}}">organizationValue</span>
         	        </li>
                  <li id="functionallocation-manufacturermodelnumber-field" data-z="121bdb1b">
            	      <strong data-th-text="#{label_functionallocation_manufacturermodelnumber}">manufacturerModelNumber</strong>
                    <span data-th-text="*{{manufacturerModelNumber}}">manufacturerModelNumberValue</span>
         	        </li>
                  <li id="functionallocation-manufacturerserialnumber-field" data-z="5f12ef83">
            	      <strong data-th-text="#{label_functionallocation_manufacturerserialnumber}">manufacturerSerialNumber</strong>
                    <span data-th-text="*{{manufacturerSerialNumber}}">manufacturerSerialNumberValue</span>
         	        </li>
                  <li id="functionallocation-manufacturerpartnumber-field" data-z="82aaeca3">
            	      <strong data-th-text="#{label_functionallocation_manufacturerpartnumber}">manufacturerPartNumber</strong>
                    <span data-th-text="*{{manufacturerPartNumber}}">manufacturerPartNumberValue</span>
         	        </li>
                  <li id="functionallocation-memo-field" data-z="eda013c3">
            	      <strong data-th-text="#{label_functionallocation_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="functionallocation-recordstatus-field" data-z="6d8feec3">
            	      <strong data-th-text="#{label_functionallocation_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="functionallocation-createddate-field" data-z="4446069b">
            	      <strong data-th-text="#{label_functionallocation_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="functionallocation-createdby-field" data-z="5040e47b">
            	      <strong data-th-text="#{label_functionallocation_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="functionallocation-lastmodifieddate-field" data-z="e3d1f7a3">
            	      <strong data-th-text="#{label_functionallocation_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="functionallocation-lastmodifiedby-field" data-z="f6a57783">
            	      <strong data-th-text="#{label_functionallocation_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="functionallocation-location-field" data-z="d360be63">
            	      <strong data-th-text="#{label_functionallocation_location}">location</strong>
                    <span data-th-text="*{{location}}">locationValue</span>
         	        </li>
                  <li id="functionallocation-equipmentallowedind-field" data-z="2686c89b">
            	      <strong data-th-text="#{label_functionallocation_equipmentallowedind}">equipmentAllowedInd</strong>
                    <span data-th-text="*{{equipmentAllowedInd}}">equipmentAllowedIndValue</span>
         	        </li>
                  <li id="functionallocation-strindicator-field" data-z="1dffaf23">
            	      <strong data-th-text="#{label_functionallocation_strindicator}">strIndicator</strong>
                    <span data-th-text="*{{strIndicator}}">strIndicatorValue</span>
         	        </li>
                  <li id="functionallocation-functionallocationccategory-field" data-z="e2f49bdb">
            	      <strong data-th-text="#{label_functionallocation_functionallocationccategory}">functionalLocationCcategory</strong>
                    <span data-th-text="*{{functionalLocationCcategory}}">functionalLocationCcategoryValue</span>
         	        </li>
                  <li id="functionallocation-superiorfunctionallocation-field" data-z="cb594f23">
            	      <strong data-th-text="#{label_functionallocation_superiorfunctionallocation}">superiorFunctionalLocation</strong>
                    <span data-th-text="*{{superiorFunctionalLocation}}">superiorFunctionalLocationValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
