<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_create_entity(#{label_preventivemaintenancefinding})}">
      Create PreventiveMaintenanceFinding - OCMMSROO - SpringRoo Application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('PreventiveMaintenanceFindingsCollectionThymeleafController')}">

          <h1 data-th-text="#{label_create_entity(#{label_preventivemaintenancefinding})}">Create PreventiveMaintenanceFinding</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${preventiveMaintenanceFinding}" data-th-action="${collectionLink.to('create').with('preventiveMaintenanceFinding', preventiveMaintenanceFinding.id)}">

            <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_preventivemaintenancefinding})}">PreventiveMaintenanceFinding data </legend>

<div class="form-group has-error has-feedback" data-z="85a95341" id="preventivemaintenancefinding-notificationcode-field" data-th-classappend="${#fields.hasErrors('notificationCode')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="notificationCode" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_notificationcode}">notificationCode</label>
  <div class="col-md-6">
    <input id="notificationCode" name="notificationCode" data-th-value="*{{notificationCode}}" type="text" class="form-control" placeholder="notificationCode" data-th-placeholder="#{label_preventivemaintenancefinding_notificationcode}" data-toggle="tooltip" aria-describedby="notificationCodeStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('notificationCode')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('notificationCode')}" aria-hidden="true"></span>
      <span id="notificationCode-error" class="help-block" data-th-if="${#fields.hasErrors('notificationCode')}" data-th-errors="*{notificationCode}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a4325da1" id="preventivemaintenancefinding-notificationtype-field" data-th-classappend="${#fields.hasErrors('notificationType')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('NotificationTypesCollectionThymeleafController')}">
    <label for="notificationType" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_notificationtype}">NotificationType</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{notificationType}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{notificationType} == null" data-th-value="*{notificationType.id}" data-th-text="*{{notificationType}}" selected="selected">NotificationType</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('notificationType')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('notificationType')}" aria-hidden="true"></span>
      <span id="notificationType-error" class="help-block" data-th-if="${#fields.hasErrors('notificationType')}" data-th-errors="*{notificationType}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="preventivemaintenancefinding-reporteddate-field" data-z="89bf321" data-th-classappend="${#fields.hasErrors('reportedDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="reportedDate" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_reporteddate}">reportedDate</label>
  <div class="col-md-3">
    <input id="reportedDate" name="reportedDate" data-th-value="*{{reportedDate}}" type="text" class="form-control datetimepicker" placeholder="reportedDate" data-th-placeholder="#{label_preventivemaintenancefinding_reporteddate}" data-th-attr="data-dateformat=${reportedDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('reportedDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('reportedDate')}" aria-hidden="true"></span>
     <span id="reportedDate-error" class="help-block" data-th-if="${#fields.hasErrors('reportedDate')}" data-th-errors="*{reportedDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="bc143a81" id="preventivemaintenancefinding-reportedby-field" data-th-classappend="${#fields.hasErrors('reportedBy')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="reportedBy" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_reportedby}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{reportedBy}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{reportedBy} == null" data-th-value="*{reportedBy.id}" data-th-text="*{{reportedBy}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('reportedBy')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('reportedBy')}" aria-hidden="true"></span>
      <span id="reportedBy-error" class="help-block" data-th-if="${#fields.hasErrors('reportedBy')}" data-th-errors="*{reportedBy}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="3ed515dd" id="preventivemaintenancefinding-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_preventivemaintenancefinding_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="fad8ef21" id="preventivemaintenancefinding-longtext-field" data-th-classappend="${#fields.hasErrors('longText')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="longText" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_longtext}">longText</label>
  <div class="col-md-6">
    <input id="longText" name="longText" data-th-value="*{{longText}}" type="text" class="form-control" placeholder="longText" data-th-placeholder="#{label_preventivemaintenancefinding_longtext}" data-toggle="tooltip" aria-describedby="longTextStatus" />
      <span data-th-classappend="${#fields.hasErrors('longText')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('longText')}" aria-hidden="true"></span>
      <span id="longText-error" class="help-block" data-th-if="${#fields.hasErrors('longText')}" data-th-errors="*{longText}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="f762ef21" id="preventivemaintenancefinding-systemstatus-field" data-th-classappend="${#fields.hasErrors('systemStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('NotificationSystemStatusesCollectionThymeleafController')}">
    <label for="systemStatus" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_systemstatus}">NotificationSystemStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{systemStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{systemStatus} == null" data-th-value="*{systemStatus.id}" data-th-text="*{{systemStatus}}" selected="selected">NotificationSystemStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('systemStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('systemStatus')}" aria-hidden="true"></span>
      <span id="systemStatus-error" class="help-block" data-th-if="${#fields.hasErrors('systemStatus')}" data-th-errors="*{systemStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="c34b9421" id="preventivemaintenancefinding-userstatus-field" data-th-classappend="${#fields.hasErrors('userStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('NotificationUserStatusWithNumbersCollectionThymeleafController')}">
    <label for="userStatus" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_userstatus}">NotificationUserStatusWithNumber</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{userStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{userStatus} == null" data-th-value="*{userStatus.id}" data-th-text="*{{userStatus}}" selected="selected">NotificationUserStatusWithNumber</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('userStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('userStatus')}" aria-hidden="true"></span>
      <span id="userStatus-error" class="help-block" data-th-if="${#fields.hasErrors('userStatus')}" data-th-errors="*{userStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="e9c26fa1" id="preventivemaintenancefinding-priority-field" data-th-classappend="${#fields.hasErrors('priority')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('NotificationPrioritiesCollectionThymeleafController')}">
    <label for="priority" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_priority}">NotificationPriority</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{priority}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{priority} == null" data-th-value="*{priority.id}" data-th-text="*{{priority}}" selected="selected">NotificationPriority</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('priority')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('priority')}" aria-hidden="true"></span>
      <span id="priority-error" class="help-block" data-th-if="${#fields.hasErrors('priority')}" data-th-errors="*{priority}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="4991aefd" id="preventivemaintenancefinding-technicalobject-field" data-th-classappend="${#fields.hasErrors('technicalObject')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TechnicalObjectsCollectionThymeleafController')}">
    <label for="technicalObject" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_technicalobject}">TechnicalObject</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{technicalObject}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{technicalObject} == null" data-th-value="*{technicalObject.id}" data-th-text="*{{technicalObject}}" selected="selected">TechnicalObject</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('technicalObject')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('technicalObject')}" aria-hidden="true"></span>
      <span id="technicalObject-error" class="help-block" data-th-if="${#fields.hasErrors('technicalObject')}" data-th-errors="*{technicalObject}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d79fd5fd" id="preventivemaintenancefinding-plantlocation-field" data-th-classappend="${#fields.hasErrors('plantLocation')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('PlantLocationsCollectionThymeleafController')}">
    <label for="plantLocation" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_plantlocation}">PlantLocation</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{plantLocation}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{plantLocation} == null" data-th-value="*{plantLocation.id}" data-th-text="*{{plantLocation}}" selected="selected">PlantLocation</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('plantLocation')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('plantLocation')}" aria-hidden="true"></span>
      <span id="plantLocation-error" class="help-block" data-th-if="${#fields.hasErrors('plantLocation')}" data-th-errors="*{plantLocation}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="165727c1" id="preventivemaintenancefinding-plantsection-field" data-th-classappend="${#fields.hasErrors('plantSection')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('PlantSectionsCollectionThymeleafController')}">
    <label for="plantSection" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_plantsection}">PlantSection</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{plantSection}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{plantSection} == null" data-th-value="*{plantSection.id}" data-th-text="*{{plantSection}}" selected="selected">PlantSection</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('plantSection')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('plantSection')}" aria-hidden="true"></span>
      <span id="plantSection-error" class="help-block" data-th-if="${#fields.hasErrors('plantSection')}" data-th-errors="*{plantSection}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="23604b81" id="preventivemaintenancefinding-costcenter-field" data-th-classappend="${#fields.hasErrors('costCenter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('CostCentersCollectionThymeleafController')}">
    <label for="costCenter" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_costcenter}">CostCenter</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{costCenter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{costCenter} == null" data-th-value="*{costCenter.id}" data-th-text="*{{costCenter}}" selected="selected">CostCenter</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('costCenter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('costCenter')}" aria-hidden="true"></span>
      <span id="costCenter-error" class="help-block" data-th-if="${#fields.hasErrors('costCenter')}" data-th-errors="*{costCenter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d21cb161" id="preventivemaintenancefinding-plannergroup-field" data-th-classappend="${#fields.hasErrors('plannerGroup')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('PlannerGroupsCollectionThymeleafController')}">
    <label for="plannerGroup" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_plannergroup}">PlannerGroup</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{plannerGroup}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{plannerGroup} == null" data-th-value="*{plannerGroup.id}" data-th-text="*{{plannerGroup}}" selected="selected">PlannerGroup</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('plannerGroup')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('plannerGroup')}" aria-hidden="true"></span>
      <span id="plannerGroup-error" class="help-block" data-th-if="${#fields.hasErrors('plannerGroup')}" data-th-errors="*{plannerGroup}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="2044b01" id="preventivemaintenancefinding-mainworkcenter-field" data-th-classappend="${#fields.hasErrors('mainWorkCenter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MainWorkCentersCollectionThymeleafController')}">
    <label for="mainWorkCenter" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_mainworkcenter}">MainWorkCenter</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{mainWorkCenter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{mainWorkCenter} == null" data-th-value="*{mainWorkCenter.id}" data-th-text="*{{mainWorkCenter}}" selected="selected">MainWorkCenter</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('mainWorkCenter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('mainWorkCenter')}" aria-hidden="true"></span>
      <span id="mainWorkCenter-error" class="help-block" data-th-if="${#fields.hasErrors('mainWorkCenter')}" data-th-errors="*{mainWorkCenter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="7db8259d" id="preventivemaintenancefinding-workcenterresponsible-field" data-th-classappend="${#fields.hasErrors('workCenterResponsible')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('WorkCenterResponsiblesCollectionThymeleafController')}">
    <label for="workCenterResponsible" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_workcenterresponsible}">WorkCenterResponsible</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{workCenterResponsible}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{workCenterResponsible} == null" data-th-value="*{workCenterResponsible.id}" data-th-text="*{{workCenterResponsible}}" selected="selected">WorkCenterResponsible</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('workCenterResponsible')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('workCenterResponsible')}" aria-hidden="true"></span>
      <span id="workCenterResponsible-error" class="help-block" data-th-if="${#fields.hasErrors('workCenterResponsible')}" data-th-errors="*{workCenterResponsible}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="preventivemaintenancefinding-breakdown-field" data-z="c3258cbd" data-th-classappend="${#fields.hasErrors('breakdown')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="breakdown" data-th-text="#{label_preventivemaintenancefinding_breakdown}">breakdown</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{breakdown}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('breakdown')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('breakdown')}" aria-hidden="true"></span>
        <span id="breakdown-error" class="help-block" data-th-if="${#fields.hasErrors('breakdown')}" data-th-errors="*{breakdown}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" id="preventivemaintenancefinding-requiredstart-field" data-z="1c55fd5d" data-th-classappend="${#fields.hasErrors('requiredStart')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="requiredStart" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_requiredstart}">requiredStart</label>
  <div class="col-md-3">
    <input id="requiredStart" name="requiredStart" data-th-value="*{{requiredStart}}" type="text" class="form-control datetimepicker" placeholder="requiredStart" data-th-placeholder="#{label_preventivemaintenancefinding_requiredstart}" data-th-attr="data-dateformat=${requiredStart_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('requiredStart')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('requiredStart')}" aria-hidden="true"></span>
     <span id="requiredStart-error" class="help-block" data-th-if="${#fields.hasErrors('requiredStart')}" data-th-errors="*{requiredStart}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="preventivemaintenancefinding-requiredend-field" data-z="6c2d89bd" data-th-classappend="${#fields.hasErrors('requiredEnd')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="requiredEnd" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_requiredend}">requiredEnd</label>
  <div class="col-md-3">
    <input id="requiredEnd" name="requiredEnd" data-th-value="*{{requiredEnd}}" type="text" class="form-control datetimepicker" placeholder="requiredEnd" data-th-placeholder="#{label_preventivemaintenancefinding_requiredend}" data-th-attr="data-dateformat=${requiredEnd_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('requiredEnd')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('requiredEnd')}" aria-hidden="true"></span>
     <span id="requiredEnd-error" class="help-block" data-th-if="${#fields.hasErrors('requiredEnd')}" data-th-errors="*{requiredEnd}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="79c08d3d" id="preventivemaintenancefinding-workorderheader-field" data-th-classappend="${#fields.hasErrors('workorderHeader')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('WorkOrderHeadersCollectionThymeleafController')}">
    <label for="workorderHeader" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_workorderheader}">WorkOrderHeader</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{workorderHeader}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{workorderHeader} == null" data-th-value="*{workorderHeader.id}" data-th-text="*{{workorderHeader}}" selected="selected">WorkOrderHeader</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('workorderHeader')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('workorderHeader')}" aria-hidden="true"></span>
      <span id="workorderHeader-error" class="help-block" data-th-if="${#fields.hasErrors('workorderHeader')}" data-th-errors="*{workorderHeader}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="857a62e1" id="preventivemaintenancefinding-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_preventivemaintenancefinding_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
            </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											Inputmask
													.extendAliases({
														'numeric' : {
															'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
															'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
														},
														'currency' : {
															'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
															'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
														}
													});
										});
					})(jQuery);
  		</script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
		  </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
			</script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
			</script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
			</script>

    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											jQuery
													.extend(
															jQuery.validator.messages,
															{
																'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
																'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
															});
										});
					})(jQuery);
		  </script>

    </div>

  </body>

</html>