<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_preventivemaintenancefinding})}|">Show PreventiveMaintenanceFinding - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${preventiveMaintenanceFinding}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_preventivemaintenancefinding})}">Show PreventiveMaintenanceFinding</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_preventivemaintenancefinding})}">PreventiveMaintenanceFinding data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="preventivemaintenancefinding-notificationcode-field" data-z="85a95341">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_notificationcode}">notificationCode</strong>
                    <span data-th-text="*{{notificationCode}}">notificationCodeValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-notificationtype-field" data-z="a4325da1">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_notificationtype}">notificationType</strong>
                    <span data-th-text="*{{notificationType}}">notificationTypeValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-reporteddate-field" data-z="89bf321">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_reporteddate}">reportedDate</strong>
                    <span data-th-text="*{{reportedDate}}">reportedDateValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-reportedby-field" data-z="bc143a81">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_reportedby}">reportedBy</strong>
                    <span data-th-text="*{{reportedBy}}">reportedByValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-description-field" data-z="3ed515dd">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-longtext-field" data-z="fad8ef21">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_longtext}">longText</strong>
                    <span data-th-text="*{{longText}}">longTextValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-systemstatus-field" data-z="f762ef21">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_systemstatus}">systemStatus</strong>
                    <span data-th-text="*{{systemStatus}}">systemStatusValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-userstatus-field" data-z="c34b9421">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_userstatus}">userStatus</strong>
                    <span data-th-text="*{{userStatus}}">userStatusValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-priority-field" data-z="e9c26fa1">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_priority}">priority</strong>
                    <span data-th-text="*{{priority}}">priorityValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-technicalobject-field" data-z="4991aefd">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_technicalobject}">technicalObject</strong>
                    <span data-th-text="*{{technicalObject}}">technicalObjectValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-plantlocation-field" data-z="d79fd5fd">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_plantlocation}">plantLocation</strong>
                    <span data-th-text="*{{plantLocation}}">plantLocationValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-plantsection-field" data-z="165727c1">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_plantsection}">plantSection</strong>
                    <span data-th-text="*{{plantSection}}">plantSectionValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-costcenter-field" data-z="23604b81">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_costcenter}">costCenter</strong>
                    <span data-th-text="*{{costCenter}}">costCenterValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-plannergroup-field" data-z="d21cb161">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_plannergroup}">plannerGroup</strong>
                    <span data-th-text="*{{plannerGroup}}">plannerGroupValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-mainworkcenter-field" data-z="2044b01">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_mainworkcenter}">mainWorkCenter</strong>
                    <span data-th-text="*{{mainWorkCenter}}">mainWorkCenterValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-workcenterresponsible-field" data-z="7db8259d">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_workcenterresponsible}">workCenterResponsible</strong>
                    <span data-th-text="*{{workCenterResponsible}}">workCenterResponsibleValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-breakdown-field" data-z="c3258cbd">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_breakdown}">breakdown</strong>
                    <span data-th-text="*{{breakdown}}">breakdownValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-requiredstart-field" data-z="1c55fd5d">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_requiredstart}">requiredStart</strong>
                    <span data-th-text="*{{requiredStart}}">requiredStartValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-requiredend-field" data-z="6c2d89bd">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_requiredend}">requiredEnd</strong>
                    <span data-th-text="*{{requiredEnd}}">requiredEndValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-workorderheader-field" data-z="79c08d3d">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_workorderheader}">workorderHeader</strong>
                    <span data-th-text="*{{workorderHeader}}">workorderHeaderValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-recordstatus-field" data-z="857a62e1">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-createddate-field" data-z="4d4d96bd">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-createdby-field" data-z="38d2151d">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-lastmodifieddate-field" data-z="5b092cc1">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="preventivemaintenancefinding-lastmodifiedby-field" data-z="bdc35c21">
            	      <strong data-th-text="#{label_preventivemaintenancefinding_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="PreventiveMaintenanceFinding_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('PreventiveMaintenanceFindingsItemThymeleafController').to('editForm').with('preventiveMaintenanceFinding', preventiveMaintenanceFinding.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="PreventiveMaintenanceFinding_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('PreventiveMaintenanceFindingsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
