<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_subobjecttype})}|">Show SubObjectType - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${subObjectType}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_subobjecttype})}">Show SubObjectType</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_subobjecttype})}">SubObjectType data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="subobjecttype-code-field" data-z="ce9ab26e">
            	      <strong data-th-text="#{label_subobjecttype_code}">code</strong>
                    <span data-th-text="*{{code}}">codeValue</span>
         	        </li>
                  <li id="subobjecttype-description-field" data-z="2d076a50">
            	      <strong data-th-text="#{label_subobjecttype_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="subobjecttype-objecttype-field" data-z="5e2b6dce">
            	      <strong data-th-text="#{label_subobjecttype_objecttype}">objectType</strong>
                    <span data-th-text="*{{objectType}}">objectTypeValue</span>
         	        </li>
                  <li id="subobjecttype-recordstatus-field" data-z="5d929cce">
            	      <strong data-th-text="#{label_subobjecttype_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="subobjecttype-createddate-field" data-z="3b7feb30">
            	      <strong data-th-text="#{label_subobjecttype_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="subobjecttype-createdby-field" data-z="c064ea50">
            	      <strong data-th-text="#{label_subobjecttype_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="subobjecttype-lastmodifieddate-field" data-z="9768a82e">
            	      <strong data-th-text="#{label_subobjecttype_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="subobjecttype-lastmodifiedby-field" data-z="f0b4cece">
            	      <strong data-th-text="#{label_subobjecttype_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="SubObjectType_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('SubObjectTypesItemThymeleafController').to('editForm').with('subObjectType', subObjectType.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="SubObjectType_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('SubObjectTypesCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
