<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="mainworkcenters-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('HierarchyWorkCentersItemMainWorkCentersThymeleafController')}">
    <table id="mainworkcenters-detail-table-item-to-remove" data-parent-table="hierarchyworkcenter-entity-table" data-data-parent-id="${hierarchyWorkCenter != null ? hierarchyWorkCenter.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('hierarchyWorkCenter', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="department" data-th-text="#{label_hierarchyworkcenter_mainworkcenters_department}">department</th>
              <th data-data="code" data-th-text="#{label_hierarchyworkcenter_mainworkcenters_code}">code</th>
              <th data-data="category" data-th-text="#{label_hierarchyworkcenter_mainworkcenters_category}">category</th>
              <th data-data="name" data-th-text="#{label_hierarchyworkcenter_mainworkcenters_name}">name</th>
              <th data-data="responsible" data-th-text="#{label_hierarchyworkcenter_mainworkcenters_responsible}">responsible</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>department</td>
              <td>code</td>
              <td>category</td>
              <td>name</td>
              <td>responsible</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->