<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="worklogs-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('EmployeesItemWorkLogsThymeleafController')}">
    <table id="worklogs-detail-table-items-to-remove-batch" data-parent-table="employee-entity-table" data-data-parent-id="${employee != null ? employee.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('employee', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="description" data-th-text="#{label_employee_worklogs_description}">description</th>
              <th data-data="logDate" data-th-text="#{label_employee_worklogs_logdate}">logDate</th>
              <th data-data="workLogType" data-th-text="#{label_employee_worklogs_worklogtype}">workLogType</th>
              <th data-data="assign" data-th-text="#{label_employee_worklogs_assign}">assign</th>
              <th data-data="remark" data-th-text="#{label_employee_worklogs_remark}">remark</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>description</td>
              <td>logDate</td>
              <td>workLogType</td>
              <td>assign</td>
              <td>remark</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->