<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="equipments-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('PlantLocationsItemEquipmentsThymeleafController')}">
    <table id="equipments-detail-table-item-to-remove" data-parent-table="plantlocation-entity-table" data-data-parent-id="${plantLocation != null ? plantLocation.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('plantLocation', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="tag" data-th-text="#{label_plantlocation_equipments_tag}">tag</th>
              <th data-data="description" data-th-text="#{label_plantlocation_equipments_description}">description</th>
              <th data-data="descriptionLocal" data-th-text="#{label_plantlocation_equipments_descriptionlocal}">descriptionLocal</th>
              <th data-data="abcIndicator" data-th-text="#{label_plantlocation_equipments_abcindicator}">abcIndicator</th>
              <th data-data="mainWorkCenter" data-th-text="#{label_plantlocation_equipments_mainworkcenter}">mainWorkCenter</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>tag</td>
              <td>description</td>
              <td>descriptionLocal</td>
              <td>abcIndicator</td>
              <td>mainWorkCenter</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->