<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_operationalworkcenter})}">
    Edit OperationalWorkCenter - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('OperationalWorkCentersCollectionThymeleafController')},itemLink=${@linkBuilder.of('OperationalWorkCentersItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_operationalworkcenter})}">Edit OperationalWorkCenter</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${operationalWorkCenter}" data-th-action="${itemLink.to('update').with('operationalWorkCenter', operationalWorkCenter.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('operationalWorkCenter', operationalWorkCenter.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_operationalworkcenter})}">OperationalWorkCenter data </legend>

<div class="form-group has-error has-feedback" data-z="c2d9622d" id="operationalworkcenter-organization-field" data-th-classappend="${#fields.hasErrors('organization')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('OrganizationsCollectionThymeleafController')}">
    <label for="organization" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_organization}">Organization</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{organization}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{organization} == null" data-th-value="*{organization.id}" data-th-text="*{{organization}}" selected="selected">Organization</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('organization')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('organization')}" aria-hidden="true"></span>
      <span id="organization-error" class="help-block" data-th-if="${#fields.hasErrors('organization')}" data-th-errors="*{organization}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="39c4796d" id="operationalworkcenter-mainworkcenter-field" data-th-classappend="${#fields.hasErrors('mainWorkCenter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MainWorkCentersCollectionThymeleafController')}">
    <label for="mainWorkCenter" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_mainworkcenter}">MainWorkCenter</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{mainWorkCenter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{mainWorkCenter} == null" data-th-value="*{mainWorkCenter.id}" data-th-text="*{{mainWorkCenter}}" selected="selected">MainWorkCenter</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('mainWorkCenter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('mainWorkCenter')}" aria-hidden="true"></span>
      <span id="mainWorkCenter-error" class="help-block" data-th-if="${#fields.hasErrors('mainWorkCenter')}" data-th-errors="*{mainWorkCenter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="2e8e40ed" id="operationalworkcenter-code-field" data-th-classappend="${#fields.hasErrors('code')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="code" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_code}">code</label>
  <div class="col-md-6">
    <input id="code" name="code" data-th-value="*{{code}}" type="text" class="form-control" placeholder="code" data-th-placeholder="#{label_operationalworkcenter_code}" data-toggle="tooltip" aria-describedby="codeStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('code')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('code')}" aria-hidden="true"></span>
      <span id="code-error" class="help-block" data-th-if="${#fields.hasErrors('code')}" data-th-errors="*{code}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="20f5dbcd" id="operationalworkcenter-category-field" data-th-classappend="${#fields.hasErrors('category')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="category" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_category}">category</label>
  <div class="col-md-6">
    <input id="category" name="category" data-th-value="*{{category}}" type="text" class="form-control" placeholder="category" data-th-placeholder="#{label_operationalworkcenter_category}" data-toggle="tooltip" aria-describedby="categoryStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('category')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('category')}" aria-hidden="true"></span>
      <span id="category-error" class="help-block" data-th-if="${#fields.hasErrors('category')}" data-th-errors="*{category}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="4127252d" id="operationalworkcenter-name-field" data-th-classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="name" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_name}">name</label>
  <div class="col-md-6">
    <input id="name" name="name" data-th-value="*{{name}}" type="text" class="form-control" placeholder="name" data-th-placeholder="#{label_operationalworkcenter_name}" data-toggle="tooltip" aria-describedby="nameStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('name')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('name')}" aria-hidden="true"></span>
      <span id="name-error" class="help-block" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="6e0e7b1" id="operationalworkcenter-responsible-field" data-th-classappend="${#fields.hasErrors('responsible')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('WorkCenterResponsiblesCollectionThymeleafController')}">
    <label for="responsible" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_responsible}">WorkCenterResponsible</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{responsible}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{responsible} == null" data-th-value="*{responsible.id}" data-th-text="*{{responsible}}" selected="selected">WorkCenterResponsible</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('responsible')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('responsible')}" aria-hidden="true"></span>
      <span id="responsible-error" class="help-block" data-th-if="${#fields.hasErrors('responsible')}" data-th-errors="*{responsible}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="7c430bad" id="operationalworkcenter-controlkey-field" data-th-classappend="${#fields.hasErrors('controlKey')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="controlKey" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_controlkey}">controlKey</label>
  <div class="col-md-6">
    <input id="controlKey" name="controlKey" data-th-value="*{{controlKey}}" type="text" class="form-control" placeholder="controlKey" data-th-placeholder="#{label_operationalworkcenter_controlkey}" data-toggle="tooltip" aria-describedby="controlKeyStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('controlKey')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('controlKey')}" aria-hidden="true"></span>
      <span id="controlKey-error" class="help-block" data-th-if="${#fields.hasErrors('controlKey')}" data-th-errors="*{controlKey}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="eaad8acd" id="operationalworkcenter-plannergroup-field" data-th-classappend="${#fields.hasErrors('plannerGroup')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('PlannerGroupsCollectionThymeleafController')}">
    <label for="plannerGroup" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_plannergroup}">PlannerGroup</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{plannerGroup}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{plannerGroup} == null" data-th-value="*{plannerGroup.id}" data-th-text="*{{plannerGroup}}" selected="selected">PlannerGroup</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('plannerGroup')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('plannerGroup')}" aria-hidden="true"></span>
      <span id="plannerGroup-error" class="help-block" data-th-if="${#fields.hasErrors('plannerGroup')}" data-th-errors="*{plannerGroup}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="156b9e71" id="operationalworkcenter-capacityunitofmeasure-field" data-th-classappend="${#fields.hasErrors('capacityUnitOfMeasure')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('UnitOfMeasuresCollectionThymeleafController')}">
    <label for="capacityUnitOfMeasure" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_capacityunitofmeasure}">UnitOfMeasure</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{capacityUnitOfMeasure}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{capacityUnitOfMeasure} == null" data-th-value="*{capacityUnitOfMeasure.id}" data-th-text="*{{capacityUnitOfMeasure}}" selected="selected">UnitOfMeasure</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('capacityUnitOfMeasure')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('capacityUnitOfMeasure')}" aria-hidden="true"></span>
      <span id="capacityUnitOfMeasure-error" class="help-block" data-th-if="${#fields.hasErrors('capacityUnitOfMeasure')}" data-th-errors="*{capacityUnitOfMeasure}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="operationalworkcenter-capacitystarttime-field" data-z="a3fdaa51" data-th-classappend="${#fields.hasErrors('capacityStartTime')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="capacityStartTime" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_capacitystarttime}">capacityStartTime</label>
  <div class="col-md-3">
    <input id="capacityStartTime" name="capacityStartTime" data-th-value="*{{capacityStartTime}}" type="text" class="form-control datetimepicker" placeholder="capacityStartTime" data-th-placeholder="#{label_operationalworkcenter_capacitystarttime}" data-th-attr="data-dateformat=${capacityStartTime_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('capacityStartTime')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('capacityStartTime')}" aria-hidden="true"></span>
     <span id="capacityStartTime-error" class="help-block" data-th-if="${#fields.hasErrors('capacityStartTime')}" data-th-errors="*{capacityStartTime}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="operationalworkcenter-capacityendtime-field" data-z="ab46d3b1" data-th-classappend="${#fields.hasErrors('capacityEndTime')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="capacityEndTime" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_capacityendtime}">capacityEndTime</label>
  <div class="col-md-3">
    <input id="capacityEndTime" name="capacityEndTime" data-th-value="*{{capacityEndTime}}" type="text" class="form-control datetimepicker" placeholder="capacityEndTime" data-th-placeholder="#{label_operationalworkcenter_capacityendtime}" data-th-attr="data-dateformat=${capacityEndTime_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('capacityEndTime')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('capacityEndTime')}" aria-hidden="true"></span>
     <span id="capacityEndTime-error" class="help-block" data-th-if="${#fields.hasErrors('capacityEndTime')}" data-th-errors="*{capacityEndTime}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="c72f6751" id="operationalworkcenter-capacityutilization-field" data-th-classappend="${#fields.hasErrors('capacityUtilization')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="capacityUtilization" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_capacityutilization}">capacityUtilization</label>
  <div class="col-md-3">
    <input id="capacityUtilization" name="capacityUtilization" data-th-value="*{{capacityUtilization}}" type="text" class="form-control inputmask" placeholder="capacityUtilization" data-th-placeholder="#{label_operationalworkcenter_capacityutilization}" data-toggle="tooltip" aria-describedby="capacityUtilizationStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" required="required" />
      <span data-th-classappend="${#fields.hasErrors('capacityUtilization')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('capacityUtilization')}" aria-hidden="true"></span>
      <span id="capacityUtilization-error" class="help-block" data-th-if="${#fields.hasErrors('capacityUtilization')}" data-th-errors="*{capacityUtilization}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="75c4df2d" id="operationalworkcenter-numberofcapacities-field" data-th-classappend="${#fields.hasErrors('numberofCapacities')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="numberofCapacities" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_numberofcapacities}">numberofCapacities</label>
  <div class="col-md-3">
    <input id="numberofCapacities" name="numberofCapacities" data-th-value="*{{numberofCapacities}}" type="text" class="form-control inputmask" placeholder="numberofCapacities" data-th-placeholder="#{label_operationalworkcenter_numberofcapacities}" data-toggle="tooltip" aria-describedby="numberofCapacitiesStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" required="required" />
      <span data-th-classappend="${#fields.hasErrors('numberofCapacities')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('numberofCapacities')}" aria-hidden="true"></span>
      <span id="numberofCapacities-error" class="help-block" data-th-if="${#fields.hasErrors('numberofCapacities')}" data-th-errors="*{numberofCapacities}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="operationalworkcenter-validitystartdate-field" data-z="b00b2131" data-th-classappend="${#fields.hasErrors('validityStartDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="validityStartDate" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_validitystartdate}">validityStartDate</label>
  <div class="col-md-3">
    <input id="validityStartDate" name="validityStartDate" data-th-value="*{{validityStartDate}}" type="text" class="form-control datetimepicker" placeholder="validityStartDate" data-th-placeholder="#{label_operationalworkcenter_validitystartdate}" data-th-attr="data-dateformat=${validityStartDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('validityStartDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('validityStartDate')}" aria-hidden="true"></span>
     <span id="validityStartDate-error" class="help-block" data-th-if="${#fields.hasErrors('validityStartDate')}" data-th-errors="*{validityStartDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="operationalworkcenter-validityenddate-field" data-z="d36c0a91" data-th-classappend="${#fields.hasErrors('validityEndDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="validityEndDate" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_validityenddate}">validityEndDate</label>
  <div class="col-md-3">
    <input id="validityEndDate" name="validityEndDate" data-th-value="*{{validityEndDate}}" type="text" class="form-control datetimepicker" placeholder="validityEndDate" data-th-placeholder="#{label_operationalworkcenter_validityenddate}" data-th-attr="data-dateformat=${validityEndDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('validityEndDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('validityEndDate')}" aria-hidden="true"></span>
     <span id="validityEndDate-error" class="help-block" data-th-if="${#fields.hasErrors('validityEndDate')}" data-th-errors="*{validityEndDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="def08fed" id="operationalworkcenter-costcenter-field" data-th-classappend="${#fields.hasErrors('costCenter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('CostCentersCollectionThymeleafController')}">
    <label for="costCenter" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_costcenter}">CostCenter</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{costCenter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{costCenter} == null" data-th-value="*{costCenter.id}" data-th-text="*{{costCenter}}" selected="selected">CostCenter</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('costCenter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('costCenter')}" aria-hidden="true"></span>
      <span id="costCenter-error" class="help-block" data-th-if="${#fields.hasErrors('costCenter')}" data-th-errors="*{costCenter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="ae25f38d" id="operationalworkcenter-activitytype-field" data-th-classappend="${#fields.hasErrors('activityType')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="activityType" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_activitytype}">activityType</label>
  <div class="col-md-6">
    <input id="activityType" name="activityType" data-th-value="*{{activityType}}" type="text" class="form-control" placeholder="activityType" data-th-placeholder="#{label_operationalworkcenter_activitytype}" data-toggle="tooltip" aria-describedby="activityTypeStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('activityType')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('activityType')}" aria-hidden="true"></span>
      <span id="activityType-error" class="help-block" data-th-if="${#fields.hasErrors('activityType')}" data-th-errors="*{activityType}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="9e0b3c4d" id="operationalworkcenter-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_operationalworkcenter_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
