<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="mutiuserstatuses-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('WorkOrderHeadersItemMutiUserStatusesThymeleafController')}">
    <table id="mutiuserstatuses-detail-table-items-to-remove-batch" data-parent-table="workorderheader-entity-table" data-data-parent-id="${workOrderHeader != null ? workOrderHeader.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('workOrderHeader', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="code" data-th-text="#{label_workorderheader_mutiuserstatuses_code}">code</th>
              <th data-data="description" data-th-text="#{label_workorderheader_mutiuserstatuses_description}">description</th>
              <th data-data="status" data-th-text="#{label_workorderheader_mutiuserstatuses_status}">status</th>
              <th data-data="recordStatus" data-th-text="#{label_workorderheader_mutiuserstatuses_recordstatus}">recordStatus</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>code</td>
              <td>description</td>
              <td>status</td>
              <td>recordStatus</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->