<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_create_entity(#{label_serviceprocurementitemdetail})}">
      Create ServiceProcurementItemDetail - OCMMSROO - SpringRoo Application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('ServiceProcurementItemDetailsCollectionThymeleafController')}">

          <h1 data-th-text="#{label_create_entity(#{label_serviceprocurementitemdetail})}">Create ServiceProcurementItemDetail</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${serviceProcurementItemDetail}" data-th-action="${collectionLink.to('create').with('serviceProcurementItemDetail', serviceProcurementItemDetail.id)}">

            <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_serviceprocurementitemdetail})}">ServiceProcurementItemDetail data </legend>

<div class="form-group has-error has-feedback" data-z="57f20a4a" id="serviceprocurementitemdetail-procurementrequest-field" data-th-classappend="${#fields.hasErrors('procurementRequest')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ProcurementRequestsCollectionThymeleafController')}">
    <label for="procurementRequest" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_procurementrequest}">ProcurementRequest</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{procurementRequest}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{procurementRequest} == null" data-th-value="*{procurementRequest.id}" data-th-text="*{{procurementRequest}}" selected="selected">ProcurementRequest</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('procurementRequest')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('procurementRequest')}" aria-hidden="true"></span>
      <span id="procurementRequest-error" class="help-block" data-th-if="${#fields.hasErrors('procurementRequest')}" data-th-errors="*{procurementRequest}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="5270e52a" id="serviceprocurementitemdetail-procurementorder-field" data-th-classappend="${#fields.hasErrors('procurementOrder')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ProcurementOrdersCollectionThymeleafController')}">
    <label for="procurementOrder" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_procurementorder}">ProcurementOrder</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{procurementOrder}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{procurementOrder} == null" data-th-value="*{procurementOrder.id}" data-th-text="*{{procurementOrder}}" selected="selected">ProcurementOrder</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('procurementOrder')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('procurementOrder')}" aria-hidden="true"></span>
      <span id="procurementOrder-error" class="help-block" data-th-if="${#fields.hasErrors('procurementOrder')}" data-th-errors="*{procurementOrder}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="4f5f5a94" id="serviceprocurementitemdetail-requester-field" data-th-classappend="${#fields.hasErrors('requester')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="requester" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_requester}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{requester}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{requester} == null" data-th-value="*{requester.id}" data-th-text="*{{requester}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('requester')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('requester')}" aria-hidden="true"></span>
      <span id="requester-error" class="help-block" data-th-if="${#fields.hasErrors('requester')}" data-th-errors="*{requester}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="c02c1aca" id="serviceprocurementitemdetail-prnumber-field" data-th-classappend="${#fields.hasErrors('prNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="prNumber" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_prnumber}">prNumber</label>
  <div class="col-md-6">
    <input id="prNumber" name="prNumber" data-th-value="*{{prNumber}}" type="text" class="form-control" placeholder="prNumber" data-th-placeholder="#{label_serviceprocurementitemdetail_prnumber}" data-toggle="tooltip" aria-describedby="prNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('prNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('prNumber')}" aria-hidden="true"></span>
      <span id="prNumber-error" class="help-block" data-th-if="${#fields.hasErrors('prNumber')}" data-th-errors="*{prNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="cbbb472a" id="serviceprocurementitemdetail-ponumber-field" data-th-classappend="${#fields.hasErrors('poNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="poNumber" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_ponumber}">poNumber</label>
  <div class="col-md-6">
    <input id="poNumber" name="poNumber" data-th-value="*{{poNumber}}" type="text" class="form-control" placeholder="poNumber" data-th-placeholder="#{label_serviceprocurementitemdetail_ponumber}" data-toggle="tooltip" aria-describedby="poNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('poNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('poNumber')}" aria-hidden="true"></span>
      <span id="poNumber-error" class="help-block" data-th-if="${#fields.hasErrors('poNumber')}" data-th-errors="*{poNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="serviceprocurementitemdetail-submitdate-field" data-z="4130d0aa" data-th-classappend="${#fields.hasErrors('submitDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="submitDate" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_submitdate}">submitDate</label>
  <div class="col-md-3">
    <input id="submitDate" name="submitDate" data-th-value="*{{submitDate}}" type="text" class="form-control datetimepicker" placeholder="submitDate" data-th-placeholder="#{label_serviceprocurementitemdetail_submitdate}" data-th-attr="data-dateformat=${submitDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('submitDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('submitDate')}" aria-hidden="true"></span>
     <span id="submitDate-error" class="help-block" data-th-if="${#fields.hasErrors('submitDate')}" data-th-errors="*{submitDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="d1b41eaa" id="serviceprocurementitemdetail-quantity-field" data-th-classappend="${#fields.hasErrors('quantity')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="quantity" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_quantity}">quantity</label>
  <div class="col-md-3">
    <input id="quantity" name="quantity" data-th-value="*{{quantity}}" type="text" class="form-control inputmask" placeholder="quantity" data-th-placeholder="#{label_serviceprocurementitemdetail_quantity}" data-toggle="tooltip" aria-describedby="quantityStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('quantity')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('quantity')}" aria-hidden="true"></span>
      <span id="quantity-error" class="help-block" data-th-if="${#fields.hasErrors('quantity')}" data-th-errors="*{quantity}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="eee7af74" id="serviceprocurementitemdetail-uom-field" data-th-classappend="${#fields.hasErrors('uom')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('UnitOfMeasuresCollectionThymeleafController')}">
    <label for="uom" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_uom}">UnitOfMeasure</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{uom}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{uom} == null" data-th-value="*{uom.id}" data-th-text="*{{uom}}" selected="selected">UnitOfMeasure</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('uom')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('uom')}" aria-hidden="true"></span>
      <span id="uom-error" class="help-block" data-th-if="${#fields.hasErrors('uom')}" data-th-errors="*{uom}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="7e0fdc2a" id="serviceprocurementitemdetail-organization-field" data-th-classappend="${#fields.hasErrors('organization')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('OrganizationsCollectionThymeleafController')}">
    <label for="organization" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_organization}">Organization</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{organization}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{organization} == null" data-th-value="*{organization.id}" data-th-text="*{{organization}}" selected="selected">Organization</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('organization')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('organization')}" aria-hidden="true"></span>
      <span id="organization-error" class="help-block" data-th-if="${#fields.hasErrors('organization')}" data-th-errors="*{organization}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="f370bd54" id="serviceprocurementitemdetail-unitprice-field" data-th-classappend="${#fields.hasErrors('unitPrice')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="unitPrice" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_unitprice}">unitPrice</label>
  <div class="col-md-3">
    <input id="unitPrice" name="unitPrice" data-th-value="*{{unitPrice}}" type="text" class="form-control inputmask" placeholder="unitPrice" data-th-placeholder="#{label_serviceprocurementitemdetail_unitprice}" data-toggle="tooltip" aria-describedby="unitPriceStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('unitPrice')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('unitPrice')}" aria-hidden="true"></span>
      <span id="unitPrice-error" class="help-block" data-th-if="${#fields.hasErrors('unitPrice')}" data-th-errors="*{unitPrice}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="6676d40a" id="serviceprocurementitemdetail-currencyunit-field" data-th-classappend="${#fields.hasErrors('currencyUnit')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('CurrenciesCollectionThymeleafController')}">
    <label for="currencyUnit" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_currencyunit}">Currency</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{currencyUnit}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{currencyUnit} == null" data-th-value="*{currencyUnit.id}" data-th-text="*{{currencyUnit}}" selected="selected">Currency</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('currencyUnit')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('currencyUnit')}" aria-hidden="true"></span>
      <span id="currencyUnit-error" class="help-block" data-th-if="${#fields.hasErrors('currencyUnit')}" data-th-errors="*{currencyUnit}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="df59524a" id="serviceprocurementitemdetail-memo-field" data-th-classappend="${#fields.hasErrors('memo')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="memo" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_memo}">memo</label>
  <div class="col-md-6">
    <input id="memo" name="memo" data-th-value="*{{memo}}" type="text" class="form-control" placeholder="memo" data-th-placeholder="#{label_serviceprocurementitemdetail_memo}" data-toggle="tooltip" aria-describedby="memoStatus" />
      <span data-th-classappend="${#fields.hasErrors('memo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('memo')}" aria-hidden="true"></span>
      <span id="memo-error" class="help-block" data-th-if="${#fields.hasErrors('memo')}" data-th-errors="*{memo}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="serviceprocurementitemdetail-closed-field" data-z="cefdf54a" data-th-classappend="${#fields.hasErrors('closed')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="closed" data-th-text="#{label_serviceprocurementitemdetail_closed}">closed</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{closed}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('closed')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('closed')}" aria-hidden="true"></span>
        <span id="closed-error" class="help-block" data-th-if="${#fields.hasErrors('closed')}" data-th-errors="*{closed}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="5941b64a" id="serviceprocurementitemdetail-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d6ff8f2a" id="serviceprocurementitemdetail-servicecatalog-field" data-th-classappend="${#fields.hasErrors('serviceCatalog')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ServiceCatalogsCollectionThymeleafController')}">
    <label for="serviceCatalog" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_servicecatalog}">ServiceCatalog</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{serviceCatalog}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{serviceCatalog} == null" data-th-value="*{serviceCatalog.id}" data-th-text="*{{serviceCatalog}}" selected="selected">ServiceCatalog</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('serviceCatalog')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('serviceCatalog')}" aria-hidden="true"></span>
      <span id="serviceCatalog-error" class="help-block" data-th-if="${#fields.hasErrors('serviceCatalog')}" data-th-errors="*{serviceCatalog}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="e2913154" id="serviceprocurementitemdetail-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_serviceprocurementitemdetail_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_serviceprocurementitemdetail_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
            </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											Inputmask
													.extendAliases({
														'numeric' : {
															'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
															'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
														},
														'currency' : {
															'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
															'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
														}
													});
										});
					})(jQuery);
  		</script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
		  </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
			</script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
			</script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
			</script>

    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											jQuery
													.extend(
															jQuery.validator.messages,
															{
																'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
																'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
															});
										});
					})(jQuery);
		  </script>

    </div>

  </body>

</html>