<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_pelletizerreplacerecord})}|">Show PelletizerReplaceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${pelletizerReplaceRecord}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_pelletizerreplacerecord})}">Show PelletizerReplaceRecord</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_pelletizerreplacerecord})}">PelletizerReplaceRecord data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="pelletizerreplacerecord-technicalobject-field" data-z="6a9e50a6">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_technicalobject}">technicalObject</strong>
                    <span data-th-text="*{{technicalObject}}">technicalObjectValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-equipment-field" data-z="a7f0a786">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-description-field" data-z="c1bef406">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-onlinedate-field" data-z="e3edc458">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_onlinedate}">onlineDate</strong>
                    <span data-th-text="*{{onlineDate}}">onlineDateValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-onlineplan-field" data-z="f9a840f8">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_onlineplan}">onlinePlan</strong>
                    <span data-th-text="*{{onlinePlan}}">onlinePlanValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-onlinemaintainer-field" data-z="f96c8458">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_onlinemaintainer}">onlineMaintainer</strong>
                    <span data-th-text="*{{onlineMaintainer}}">onlineMaintainerValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-offlinedate-field" data-z="4eea3186">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_offlinedate}">offlineDate</strong>
                    <span data-th-text="*{{offlineDate}}">offlineDateValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-offlineplan-field" data-z="64a4ae26">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_offlineplan}">offlinePlan</strong>
                    <span data-th-text="*{{offlinePlan}}">offlinePlanValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-offlinemaintainer-field" data-z="c001d706">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_offlinemaintainer}">offlineMaintainer</strong>
                    <span data-th-text="*{{offlineMaintainer}}">offlineMaintainerValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-memo-field" data-z="e97f53d8">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-recordstatus-field" data-z="5fcc49d8">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-createddate-field" data-z="d03774e6">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-createdby-field" data-z="41bf6986">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-lastmodifieddate-field" data-z="5b90c038">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-lastmodifiedby-field" data-z="4b376158">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-onlineruntime-field" data-z="c94b3126">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_onlineruntime}">onlineRunTime</strong>
                    <span data-th-text="*{{onlineRunTime}}">onlineRunTimeValue</span>
         	        </li>
                  <li id="pelletizerreplacerecord-offlineruntime-field" data-z="de708d38">
            	      <strong data-th-text="#{label_pelletizerreplacerecord_offlineruntime}">offlineRunTime</strong>
                    <span data-th-text="*{{offlineRunTime}}">offlineRunTimeValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="PelletizerReplaceRecord_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('PelletizerReplaceRecordsItemThymeleafController').to('editForm').with('pelletizerReplaceRecord', pelletizerReplaceRecord.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="PelletizerReplaceRecord_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('PelletizerReplaceRecordsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
