<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_outstockdetail})}|">Show OutstockDetail - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${outstockDetail}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="outstockdetail-organization-field" data-z="be5bd884">
            	      <strong data-th-text="#{label_outstockdetail_organization}">organization</strong>
                    <span data-th-text="*{{organization}}">organizationValue</span>
         	        </li>
                  <li id="outstockdetail-materialcatalog-field" data-z="2518315a">
            	      <strong data-th-text="#{label_outstockdetail_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="outstockdetail-storagelocation-field" data-z="d66fa1da">
            	      <strong data-th-text="#{label_outstockdetail_storagelocation}">storageLocation</strong>
                    <span data-th-text="*{{storageLocation}}">storageLocationValue</span>
         	        </li>
                  <li id="outstockdetail-storagetype-field" data-z="601a0aba">
            	      <strong data-th-text="#{label_outstockdetail_storagetype}">storageType</strong>
                    <span data-th-text="*{{storageType}}">storageTypeValue</span>
         	        </li>
                  <li id="outstockdetail-serialnumber-field" data-z="6a35c364">
            	      <strong data-th-text="#{label_outstockdetail_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="outstockdetail-outstockquantity-field" data-z="4aad6e24">
            	      <strong data-th-text="#{label_outstockdetail_outstockquantity}">outstockQuantity</strong>
                    <span data-th-text="*{{outstockQuantity}}">outstockQuantityValue</span>
         	        </li>
                  <li id="outstockdetail-issuedate-field" data-z="d823d33a">
            	      <strong data-th-text="#{label_outstockdetail_issuedate}">issueDate</strong>
                    <span data-th-text="*{{issueDate}}">issueDateValue</span>
         	        </li>
                  <li id="outstockdetail-receiver-field" data-z="59753b84">
            	      <strong data-th-text="#{label_outstockdetail_receiver}">receiver</strong>
                    <span data-th-text="*{{receiver}}">receiverValue</span>
         	        </li>
                  <li id="outstockdetail-keeper-field" data-z="9be1a464">
            	      <strong data-th-text="#{label_outstockdetail_keeper}">keeper</strong>
                    <span data-th-text="*{{keeper}}">keeperValue</span>
         	        </li>
                  <li id="outstockdetail-memo-field" data-z="eeec48a4">
            	      <strong data-th-text="#{label_outstockdetail_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="outstockdetail-movementtype-field" data-z="91d735e4">
            	      <strong data-th-text="#{label_outstockdetail_movementtype}">movementType</strong>
                    <span data-th-text="*{{movementType}}">movementTypeValue</span>
         	        </li>
                  <li id="outstockdetail-recordstatus-field" data-z="998db2a4">
            	      <strong data-th-text="#{label_outstockdetail_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="outstockdetail-createddate-field" data-z="7f7fc29a">
            	      <strong data-th-text="#{label_outstockdetail_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="outstockdetail-createdby-field" data-z="7a67943a">
            	      <strong data-th-text="#{label_outstockdetail_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="outstockdetail-lastmodifieddate-field" data-z="9198e304">
            	      <strong data-th-text="#{label_outstockdetail_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="outstockdetail-lastmodifiedby-field" data-z="1a41c724">
            	      <strong data-th-text="#{label_outstockdetail_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
