<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_materialoutstockdetail})}|">Show MaterialOutstockDetail - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${materialOutstockDetail}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="materialoutstockdetail-organization-field" data-z="666af22b">
            	      <strong data-th-text="#{label_materialoutstockdetail_organization}">organization</strong>
                    <span data-th-text="*{{organization}}">organizationValue</span>
         	        </li>
                  <li id="materialoutstockdetail-materialcatalog-field" data-z="5a526253">
            	      <strong data-th-text="#{label_materialoutstockdetail_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="materialoutstockdetail-storagelocation-field" data-z="ba9d2d3">
            	      <strong data-th-text="#{label_materialoutstockdetail_storagelocation}">storageLocation</strong>
                    <span data-th-text="*{{storageLocation}}">storageLocationValue</span>
         	        </li>
                  <li id="materialoutstockdetail-storagetype-field" data-z="447da033">
            	      <strong data-th-text="#{label_materialoutstockdetail_storagetype}">storageType</strong>
                    <span data-th-text="*{{storageType}}">storageTypeValue</span>
         	        </li>
                  <li id="materialoutstockdetail-serialnumber-field" data-z="1244dd0b">
            	      <strong data-th-text="#{label_materialoutstockdetail_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="materialoutstockdetail-outstockquantity-field" data-z="bcb95c4b">
            	      <strong data-th-text="#{label_materialoutstockdetail_outstockquantity}">outstockQuantity</strong>
                    <span data-th-text="*{{outstockQuantity}}">outstockQuantityValue</span>
         	        </li>
                  <li id="materialoutstockdetail-issuedate-field" data-z="cd3072f3">
            	      <strong data-th-text="#{label_materialoutstockdetail_issuedate}">issueDate</strong>
                    <span data-th-text="*{{issueDate}}">issueDateValue</span>
         	        </li>
                  <li id="materialoutstockdetail-receiver-field" data-z="92e940ab">
            	      <strong data-th-text="#{label_materialoutstockdetail_receiver}">receiver</strong>
                    <span data-th-text="*{{receiver}}">receiverValue</span>
         	        </li>
                  <li id="materialoutstockdetail-keeper-field" data-z="5d12c74b">
            	      <strong data-th-text="#{label_materialoutstockdetail_keeper}">keeper</strong>
                    <span data-th-text="*{{keeper}}">keeperValue</span>
         	        </li>
                  <li id="materialoutstockdetail-memo-field" data-z="8c06f94b">
            	      <strong data-th-text="#{label_materialoutstockdetail_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="materialoutstockdetail-movementtype-field" data-z="39e64f8b">
            	      <strong data-th-text="#{label_materialoutstockdetail_movementtype}">movementType</strong>
                    <span data-th-text="*{{movementType}}">movementTypeValue</span>
         	        </li>
                  <li id="materialoutstockdetail-recordstatus-field" data-z="419ccc4b">
            	      <strong data-th-text="#{label_materialoutstockdetail_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="materialoutstockdetail-createddate-field" data-z="63e35813">
            	      <strong data-th-text="#{label_materialoutstockdetail_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="materialoutstockdetail-createdby-field" data-z="6f7433f3">
            	      <strong data-th-text="#{label_materialoutstockdetail_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="materialoutstockdetail-lastmodifieddate-field" data-z="3a4d12b">
            	      <strong data-th-text="#{label_materialoutstockdetail_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="materialoutstockdetail-lastmodifiedby-field" data-z="faf1130b">
            	      <strong data-th-text="#{label_materialoutstockdetail_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="materialoutstockdetail-orderno-field" data-z="e2a22ef3">
            	      <strong data-th-text="#{label_materialoutstockdetail_orderno}">orderNo</strong>
                    <span data-th-text="*{{orderNo}}">orderNoValue</span>
         	        </li>
                  <li id="materialoutstockdetail-issuedate-field" data-z="cd3072f3">
            	      <strong data-th-text="#{label_materialoutstockdetail_issuedate}">issueDate</strong>
                    <span data-th-text="*{{issueDate}}">issueDateValue</span>
         	        </li>
                  <li id="materialoutstockdetail-equipmentmaintenancerecord-field" data-z="eb1de8cb">
            	      <strong data-th-text="#{label_materialoutstockdetail_equipmentmaintenancerecord}">equipmentMaintenanceRecord</strong>
                    <span data-th-text="*{{equipmentMaintenanceRecord}}">equipmentMaintenanceRecordValue</span>
         	        </li>
                  <li id="materialoutstockdetail-partmaintenancerecord-field" data-z="988f4b93">
            	      <strong data-th-text="#{label_materialoutstockdetail_partmaintenancerecord}">partMaintenanceRecord</strong>
                    <span data-th-text="*{{partMaintenanceRecord}}">partMaintenanceRecordValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
