<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_tasktracking})}">
    Edit TaskTracking - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('TaskTrackingsCollectionThymeleafController')},itemLink=${@linkBuilder.of('TaskTrackingsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_tasktracking})}">Edit TaskTracking</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${taskTracking}" data-th-action="${itemLink.to('update').with('taskTracking', taskTracking.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('taskTracking', taskTracking.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_tasktracking})}">TaskTracking data </legend>

<div class="form-group has-error has-feedback" id="tasktracking-submitdate-field" data-z="3967227" data-th-classappend="${#fields.hasErrors('submitDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="submitDate" class="col-md-3 control-label" data-th-text="#{label_tasktracking_submitdate}">submitDate</label>
  <div class="col-md-3">
    <input id="submitDate" name="submitDate" data-th-value="*{{submitDate}}" type="text" class="form-control datetimepicker" placeholder="submitDate" data-th-placeholder="#{label_tasktracking_submitdate}" data-th-attr="data-dateformat=${submitDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('submitDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('submitDate')}" aria-hidden="true"></span>
     <span id="submitDate-error" class="help-block" data-th-if="${#fields.hasErrors('submitDate')}" data-th-errors="*{submitDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="c8fd17d7" id="tasktracking-submitter-field" data-th-classappend="${#fields.hasErrors('submitter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="submitter" class="col-md-3 control-label" data-th-text="#{label_tasktracking_submitter}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{submitter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{submitter} == null" data-th-value="*{submitter.id}" data-th-text="*{{submitter}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('submitter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('submitter')}" aria-hidden="true"></span>
      <span id="submitter-error" class="help-block" data-th-if="${#fields.hasErrors('submitter')}" data-th-errors="*{submitter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="b899fb97" id="tasktracking-technicalobject-field" data-th-classappend="${#fields.hasErrors('technicalObject')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TechnicalObjectsCollectionThymeleafController')}">
    <label for="technicalObject" class="col-md-3 control-label" data-th-text="#{label_tasktracking_technicalobject}">TechnicalObject</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{technicalObject}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{technicalObject} == null" data-th-value="*{technicalObject.id}" data-th-text="*{{technicalObject}}" selected="selected">TechnicalObject</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('technicalObject')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('technicalObject')}" aria-hidden="true"></span>
      <span id="technicalObject-error" class="help-block" data-th-if="${#fields.hasErrors('technicalObject')}" data-th-errors="*{technicalObject}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="6cdfbf77" id="tasktracking-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_tasktracking_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_tasktracking_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="3a4a8107" id="tasktracking-tasktrackingpriority-field" data-th-classappend="${#fields.hasErrors('taskTrackingPriority')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TaskTrackingPrioritiesCollectionThymeleafController')}">
    <label for="taskTrackingPriority" class="col-md-3 control-label" data-th-text="#{label_tasktracking_tasktrackingpriority}">TaskTrackingPriority</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{taskTrackingPriority}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{taskTrackingPriority} == null" data-th-value="*{taskTrackingPriority.id}" data-th-text="*{{taskTrackingPriority}}" selected="selected">TaskTrackingPriority</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('taskTrackingPriority')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('taskTrackingPriority')}" aria-hidden="true"></span>
      <span id="taskTrackingPriority-error" class="help-block" data-th-if="${#fields.hasErrors('taskTrackingPriority')}" data-th-errors="*{taskTrackingPriority}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="a2c31947" id="tasktracking-tasktrackingstatus-field" data-th-classappend="${#fields.hasErrors('taskTrackingStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TaskTrackingStatusesCollectionThymeleafController')}">
    <label for="taskTrackingStatus" class="col-md-3 control-label" data-th-text="#{label_tasktracking_tasktrackingstatus}">TaskTrackingStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{taskTrackingStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{taskTrackingStatus} == null" data-th-value="*{taskTrackingStatus.id}" data-th-text="*{{taskTrackingStatus}}" selected="selected">TaskTrackingStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('taskTrackingStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('taskTrackingStatus')}" aria-hidden="true"></span>
      <span id="taskTrackingStatus-error" class="help-block" data-th-if="${#fields.hasErrors('taskTrackingStatus')}" data-th-errors="*{taskTrackingStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d4f4fa47" id="tasktracking-tasktrackingtype-field" data-th-classappend="${#fields.hasErrors('taskTrackingType')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TaskTrackingTypesCollectionThymeleafController')}">
    <label for="taskTrackingType" class="col-md-3 control-label" data-th-text="#{label_tasktracking_tasktrackingtype}">TaskTrackingType</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{taskTrackingType}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{taskTrackingType} == null" data-th-value="*{taskTrackingType.id}" data-th-text="*{{taskTrackingType}}" selected="selected">TaskTrackingType</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('taskTrackingType')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('taskTrackingType')}" aria-hidden="true"></span>
      <span id="taskTrackingType-error" class="help-block" data-th-if="${#fields.hasErrors('taskTrackingType')}" data-th-errors="*{taskTrackingType}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="tasktracking-targetdate-field" data-z="1570b707" data-th-classappend="${#fields.hasErrors('targetDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="targetDate" class="col-md-3 control-label" data-th-text="#{label_tasktracking_targetdate}">targetDate</label>
  <div class="col-md-3">
    <input id="targetDate" name="targetDate" data-th-value="*{{targetDate}}" type="text" class="form-control datetimepicker" placeholder="targetDate" data-th-placeholder="#{label_tasktracking_targetdate}" data-th-attr="data-dateformat=${targetDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('targetDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('targetDate')}" aria-hidden="true"></span>
     <span id="targetDate-error" class="help-block" data-th-if="${#fields.hasErrors('targetDate')}" data-th-errors="*{targetDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="tasktracking-assigndate-field" data-z="8e4c2347" data-th-classappend="${#fields.hasErrors('assignDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="assignDate" class="col-md-3 control-label" data-th-text="#{label_tasktracking_assigndate}">assignDate</label>
  <div class="col-md-3">
    <input id="assignDate" name="assignDate" data-th-value="*{{assignDate}}" type="text" class="form-control datetimepicker" placeholder="assignDate" data-th-placeholder="#{label_tasktracking_assigndate}" data-th-attr="data-dateformat=${assignDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('assignDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('assignDate')}" aria-hidden="true"></span>
     <span id="assignDate-error" class="help-block" data-th-if="${#fields.hasErrors('assignDate')}" data-th-errors="*{assignDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="tasktracking-completedate-field" data-z="2476e807" data-th-classappend="${#fields.hasErrors('completeDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="completeDate" class="col-md-3 control-label" data-th-text="#{label_tasktracking_completedate}">completeDate</label>
  <div class="col-md-3">
    <input id="completeDate" name="completeDate" data-th-value="*{{completeDate}}" type="text" class="form-control datetimepicker" placeholder="completeDate" data-th-placeholder="#{label_tasktracking_completedate}" data-th-attr="data-dateformat=${completeDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('completeDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('completeDate')}" aria-hidden="true"></span>
     <span id="completeDate-error" class="help-block" data-th-if="${#fields.hasErrors('completeDate')}" data-th-errors="*{completeDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="91fb5797" id="tasktracking-reference-field" data-th-classappend="${#fields.hasErrors('reference')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="reference" class="col-md-3 control-label" data-th-text="#{label_tasktracking_reference}">reference</label>
  <div class="col-md-6">
    <input id="reference" name="reference" data-th-value="*{{reference}}" type="text" class="form-control" placeholder="reference" data-th-placeholder="#{label_tasktracking_reference}" data-toggle="tooltip" aria-describedby="referenceStatus" />
      <span data-th-classappend="${#fields.hasErrors('reference')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('reference')}" aria-hidden="true"></span>
      <span id="reference-error" class="help-block" data-th-if="${#fields.hasErrors('reference')}" data-th-errors="*{reference}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="c1011587" id="tasktracking-memo-field" data-th-classappend="${#fields.hasErrors('memo')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="memo" class="col-md-3 control-label" data-th-text="#{label_tasktracking_memo}">memo</label>
  <div class="col-md-6">
    <input id="memo" name="memo" data-th-value="*{{memo}}" type="text" class="form-control" placeholder="memo" data-th-placeholder="#{label_tasktracking_memo}" data-toggle="tooltip" aria-describedby="memoStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('memo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('memo')}" aria-hidden="true"></span>
      <span id="memo-error" class="help-block" data-th-if="${#fields.hasErrors('memo')}" data-th-errors="*{memo}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="dbd2db17" id="tasktracking-taskowner-field" data-th-classappend="${#fields.hasErrors('taskOwner')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="taskOwner" class="col-md-3 control-label" data-th-text="#{label_tasktracking_taskowner}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{taskOwner}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{taskOwner} == null" data-th-value="*{taskOwner.id}" data-th-text="*{{taskOwner}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('taskOwner')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('taskOwner')}" aria-hidden="true"></span>
      <span id="taskOwner-error" class="help-block" data-th-if="${#fields.hasErrors('taskOwner')}" data-th-errors="*{taskOwner}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="cc0c0e37" id="tasktracking-supportvendor-field" data-th-classappend="${#fields.hasErrors('supportVendor')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('VendorsCollectionThymeleafController')}">
    <label for="supportVendor" class="col-md-3 control-label" data-th-text="#{label_tasktracking_supportvendor}">Vendor</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{supportVendor}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{supportVendor} == null" data-th-value="*{supportVendor.id}" data-th-text="*{{supportVendor}}" selected="selected">Vendor</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('supportVendor')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('supportVendor')}" aria-hidden="true"></span>
      <span id="supportVendor-error" class="help-block" data-th-if="${#fields.hasErrors('supportVendor')}" data-th-errors="*{supportVendor}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="18c4ec87" id="tasktracking-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_tasktracking_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
