<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="billofmaterials-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('TechnicalObjectsItemBillOfMaterialsThymeleafController')}">
    <table id="billofmaterials-detail-table-item-to-remove" data-parent-table="technicalobject-entity-table" data-data-parent-id="${technicalObject != null ? technicalObject.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('technicalObject', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="tag" data-th-text="#{label_technicalobject_billofmaterials_tag}">tag</th>
              <th data-data="description" data-th-text="#{label_technicalobject_billofmaterials_description}">description</th>
              <th data-data="descriptionLocal" data-th-text="#{label_technicalobject_billofmaterials_descriptionlocal}">descriptionLocal</th>
              <th data-data="abcIndicator" data-th-text="#{label_technicalobject_billofmaterials_abcindicator}">abcIndicator</th>
              <th data-data="mainWorkCenter" data-th-text="#{label_technicalobject_billofmaterials_mainworkcenter}">mainWorkCenter</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>tag</td>
              <td>description</td>
              <td>descriptionLocal</td>
              <td>abcIndicator</td>
              <td>mainWorkCenter</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->