<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_pressuregage})}">
    Edit PressureGage - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('PressureGagesCollectionThymeleafController')},itemLink=${@linkBuilder.of('PressureGagesItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_pressuregage})}">Edit PressureGage</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${pressureGage}" data-th-action="${itemLink.to('update').with('pressureGage', pressureGage.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('pressureGage', pressureGage.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_pressuregage})}">PressureGage data </legend>

<div class="form-group has-error has-feedback" data-z="3531d496" id="pressuregage-tag-field" data-th-classappend="${#fields.hasErrors('tag')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="tag" class="col-md-3 control-label" data-th-text="#{label_pressuregage_tag}">tag</label>
  <div class="col-md-6">
    <input id="tag" name="tag" data-th-value="*{{tag}}" type="text" class="form-control" placeholder="tag" data-th-placeholder="#{label_pressuregage_tag}" data-toggle="tooltip" aria-describedby="tagStatus" />
      <span data-th-classappend="${#fields.hasErrors('tag')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('tag')}" aria-hidden="true"></span>
      <span id="tag-error" class="help-block" data-th-if="${#fields.hasErrors('tag')}" data-th-errors="*{tag}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="917f6956" id="pressuregage-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_pressuregage_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_pressuregage_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="e7315848" id="pressuregage-descriptionlocal-field" data-th-classappend="${#fields.hasErrors('descriptionLocal')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="descriptionLocal" class="col-md-3 control-label" data-th-text="#{label_pressuregage_descriptionlocal}">descriptionLocal</label>
  <div class="col-md-6">
    <input id="descriptionLocal" name="descriptionLocal" data-th-value="*{{descriptionLocal}}" type="text" class="form-control" placeholder="descriptionLocal" data-th-placeholder="#{label_pressuregage_descriptionlocal}" data-toggle="tooltip" aria-describedby="descriptionLocalStatus" />
      <span data-th-classappend="${#fields.hasErrors('descriptionLocal')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('descriptionLocal')}" aria-hidden="true"></span>
      <span id="descriptionLocal-error" class="help-block" data-th-if="${#fields.hasErrors('descriptionLocal')}" data-th-errors="*{descriptionLocal}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="15385d08" id="pressuregage-abcindicator-field" data-th-classappend="${#fields.hasErrors('abcIndicator')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('AbcIndicatorsCollectionThymeleafController')}">
    <label for="abcIndicator" class="col-md-3 control-label" data-th-text="#{label_pressuregage_abcindicator}">AbcIndicator</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{abcIndicator}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{abcIndicator} == null" data-th-value="*{abcIndicator.id}" data-th-text="*{{abcIndicator}}" selected="selected">AbcIndicator</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('abcIndicator')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('abcIndicator')}" aria-hidden="true"></span>
      <span id="abcIndicator-error" class="help-block" data-th-if="${#fields.hasErrors('abcIndicator')}" data-th-errors="*{abcIndicator}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="dd0c18e8" id="pressuregage-mainworkcenter-field" data-th-classappend="${#fields.hasErrors('mainWorkCenter')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MainWorkCentersCollectionThymeleafController')}">
    <label for="mainWorkCenter" class="col-md-3 control-label" data-th-text="#{label_pressuregage_mainworkcenter}">MainWorkCenter</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{mainWorkCenter}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{mainWorkCenter} == null" data-th-value="*{mainWorkCenter.id}" data-th-text="*{{mainWorkCenter}}" selected="selected">MainWorkCenter</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('mainWorkCenter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('mainWorkCenter')}" aria-hidden="true"></span>
      <span id="mainWorkCenter-error" class="help-block" data-th-if="${#fields.hasErrors('mainWorkCenter')}" data-th-errors="*{mainWorkCenter}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="ace8a468" id="pressuregage-organization-field" data-th-classappend="${#fields.hasErrors('organization')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('OrganizationsCollectionThymeleafController')}">
    <label for="organization" class="col-md-3 control-label" data-th-text="#{label_pressuregage_organization}">Organization</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{organization}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{organization} == null" data-th-value="*{organization.id}" data-th-text="*{{organization}}" selected="selected">Organization</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('organization')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('organization')}" aria-hidden="true"></span>
      <span id="organization-error" class="help-block" data-th-if="${#fields.hasErrors('organization')}" data-th-errors="*{organization}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="4662e36" id="pressuregage-manufacturermodelnumber-field" data-th-classappend="${#fields.hasErrors('manufacturerModelNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="manufacturerModelNumber" class="col-md-3 control-label" data-th-text="#{label_pressuregage_manufacturermodelnumber}">manufacturerModelNumber</label>
  <div class="col-md-6">
    <input id="manufacturerModelNumber" name="manufacturerModelNumber" data-th-value="*{{manufacturerModelNumber}}" type="text" class="form-control" placeholder="manufacturerModelNumber" data-th-placeholder="#{label_pressuregage_manufacturermodelnumber}" data-toggle="tooltip" aria-describedby="manufacturerModelNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('manufacturerModelNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('manufacturerModelNumber')}" aria-hidden="true"></span>
      <span id="manufacturerModelNumber-error" class="help-block" data-th-if="${#fields.hasErrors('manufacturerModelNumber')}" data-th-errors="*{manufacturerModelNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="b612ffc8" id="pressuregage-manufacturerserialnumber-field" data-th-classappend="${#fields.hasErrors('manufacturerSerialNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="manufacturerSerialNumber" class="col-md-3 control-label" data-th-text="#{label_pressuregage_manufacturerserialnumber}">manufacturerSerialNumber</label>
  <div class="col-md-6">
    <input id="manufacturerSerialNumber" name="manufacturerSerialNumber" data-th-value="*{{manufacturerSerialNumber}}" type="text" class="form-control" placeholder="manufacturerSerialNumber" data-th-placeholder="#{label_pressuregage_manufacturerserialnumber}" data-toggle="tooltip" aria-describedby="manufacturerSerialNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('manufacturerSerialNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('manufacturerSerialNumber')}" aria-hidden="true"></span>
      <span id="manufacturerSerialNumber-error" class="help-block" data-th-if="${#fields.hasErrors('manufacturerSerialNumber')}" data-th-errors="*{manufacturerSerialNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="cc8c4a28" id="pressuregage-manufacturerpartnumber-field" data-th-classappend="${#fields.hasErrors('manufacturerPartNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="manufacturerPartNumber" class="col-md-3 control-label" data-th-text="#{label_pressuregage_manufacturerpartnumber}">manufacturerPartNumber</label>
  <div class="col-md-6">
    <input id="manufacturerPartNumber" name="manufacturerPartNumber" data-th-value="*{{manufacturerPartNumber}}" type="text" class="form-control" placeholder="manufacturerPartNumber" data-th-placeholder="#{label_pressuregage_manufacturerpartnumber}" data-toggle="tooltip" aria-describedby="manufacturerPartNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('manufacturerPartNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('manufacturerPartNumber')}" aria-hidden="true"></span>
      <span id="manufacturerPartNumber-error" class="help-block" data-th-if="${#fields.hasErrors('manufacturerPartNumber')}" data-th-errors="*{manufacturerPartNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="d4bccd08" id="pressuregage-plannergroup-field" data-th-classappend="${#fields.hasErrors('plannerGroup')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('PlannerGroupsCollectionThymeleafController')}">
    <label for="plannerGroup" class="col-md-3 control-label" data-th-text="#{label_pressuregage_plannergroup}">PlannerGroup</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{plannerGroup}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{plannerGroup} == null" data-th-value="*{plannerGroup.id}" data-th-text="*{{plannerGroup}}" selected="selected">PlannerGroup</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('plannerGroup')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('plannerGroup')}" aria-hidden="true"></span>
      <span id="plannerGroup-error" class="help-block" data-th-if="${#fields.hasErrors('plannerGroup')}" data-th-errors="*{plannerGroup}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="64e53888" id="pressuregage-memo-field" data-th-classappend="${#fields.hasErrors('memo')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="memo" class="col-md-3 control-label" data-th-text="#{label_pressuregage_memo}">memo</label>
  <div class="col-md-6">
    <input id="memo" name="memo" data-th-value="*{{memo}}" type="text" class="form-control" placeholder="memo" data-th-placeholder="#{label_pressuregage_memo}" data-toggle="tooltip" aria-describedby="memoStatus" />
      <span data-th-classappend="${#fields.hasErrors('memo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('memo')}" aria-hidden="true"></span>
      <span id="memo-error" class="help-block" data-th-if="${#fields.hasErrors('memo')}" data-th-errors="*{memo}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="881a7e88" id="pressuregage-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_pressuregage_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="pressuregage-lastinspectiondate-field" data-z="1da77548" data-th-classappend="${#fields.hasErrors('lastInspectionDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="lastInspectionDate" class="col-md-3 control-label" data-th-text="#{label_pressuregage_lastinspectiondate}">lastInspectionDate</label>
  <div class="col-md-3">
    <input id="lastInspectionDate" name="lastInspectionDate" data-th-value="*{{lastInspectionDate}}" type="text" class="form-control datetimepicker" placeholder="lastInspectionDate" data-th-placeholder="#{label_pressuregage_lastinspectiondate}" data-th-attr="data-dateformat=${lastInspectionDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('lastInspectionDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('lastInspectionDate')}" aria-hidden="true"></span>
     <span id="lastInspectionDate-error" class="help-block" data-th-if="${#fields.hasErrors('lastInspectionDate')}" data-th-errors="*{lastInspectionDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="pressuregage-nextinspectiondate-field" data-z="3b5bb5a8" data-th-classappend="${#fields.hasErrors('nextInspectionDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="nextInspectionDate" class="col-md-3 control-label" data-th-text="#{label_pressuregage_nextinspectiondate}">nextInspectionDate</label>
  <div class="col-md-3">
    <input id="nextInspectionDate" name="nextInspectionDate" data-th-value="*{{nextInspectionDate}}" type="text" class="form-control datetimepicker" placeholder="nextInspectionDate" data-th-placeholder="#{label_pressuregage_nextinspectiondate}" data-th-attr="data-dateformat=${nextInspectionDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('nextInspectionDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('nextInspectionDate')}" aria-hidden="true"></span>
     <span id="nextInspectionDate-error" class="help-block" data-th-if="${#fields.hasErrors('nextInspectionDate')}" data-th-errors="*{nextInspectionDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="914cd976" id="pressuregage-parameter-field" data-th-classappend="${#fields.hasErrors('parameter')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="parameter" class="col-md-3 control-label" data-th-text="#{label_pressuregage_parameter}">parameter</label>
  <div class="col-md-6">
    <input id="parameter" name="parameter" data-th-value="*{{parameter}}" type="text" class="form-control" placeholder="parameter" data-th-placeholder="#{label_pressuregage_parameter}" data-toggle="tooltip" aria-describedby="parameterStatus" />
      <span data-th-classappend="${#fields.hasErrors('parameter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('parameter')}" aria-hidden="true"></span>
      <span id="parameter-error" class="help-block" data-th-if="${#fields.hasErrors('parameter')}" data-th-errors="*{parameter}">Error message.</span>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
