<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_billofmaterial})}">
    Edit BillOfMaterial - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('BillOfMaterialsCollectionThymeleafController')},itemLink=${@linkBuilder.of('BillOfMaterialsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_billofmaterial})}">Edit BillOfMaterial</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${billOfMaterial}" data-th-action="${itemLink.to('update').with('billOfMaterial', billOfMaterial.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('billOfMaterial', billOfMaterial.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_billofmaterial})}">BillOfMaterial data </legend>

<div class="form-group has-error has-feedback" data-z="43233c0e" id="billofmaterial-tag-field" data-th-classappend="${#fields.hasErrors('tag')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="tag" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_tag}">tag</label>
  <div class="col-md-6">
    <input id="tag" name="tag" data-th-value="*{{tag}}" type="text" class="form-control" placeholder="tag" data-th-placeholder="#{label_billofmaterial_tag}" data-toggle="tooltip" aria-describedby="tagStatus" />
      <span data-th-classappend="${#fields.hasErrors('tag')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('tag')}" aria-hidden="true"></span>
      <span id="tag-error" class="help-block" data-th-if="${#fields.hasErrors('tag')}" data-th-errors="*{tag}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="272dd8ce" id="billofmaterial-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_billofmaterial_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="e4f5d3d0" id="billofmaterial-descriptionlocal-field" data-th-classappend="${#fields.hasErrors('descriptionLocal')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="descriptionLocal" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_descriptionlocal}">descriptionLocal</label>
  <div class="col-md-6">
    <input id="descriptionLocal" name="descriptionLocal" data-th-value="*{{descriptionLocal}}" type="text" class="form-control" placeholder="descriptionLocal" data-th-placeholder="#{label_billofmaterial_descriptionlocal}" data-toggle="tooltip" aria-describedby="descriptionLocalStatus" />
      <span data-th-classappend="${#fields.hasErrors('descriptionLocal')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('descriptionLocal')}" aria-hidden="true"></span>
      <span id="descriptionLocal-error" class="help-block" data-th-if="${#fields.hasErrors('descriptionLocal')}" data-th-errors="*{descriptionLocal}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="3557dc90" id="billofmaterial-abcindicator-field" data-th-classappend="${#fields.hasErrors('abcIndicator')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('AbcIndicatorsCollectionThymeleafController')}">
    <label for="abcIndicator" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_abcindicator}">AbcIndicator</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{abcIndicator}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{abcIndicator} == null" data-th-value="*{abcIndicator.id}" data-th-text="*{{abcIndicator}}" selected="selected">AbcIndicator</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('abcIndicator')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('abcIndicator')}" aria-hidden="true"></span>
      <span id="abcIndicator-error" class="help-block" data-th-if="${#fields.hasErrors('abcIndicator')}" data-th-errors="*{abcIndicator}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="cd0823f0" id="billofmaterial-organization-field" data-th-classappend="${#fields.hasErrors('organization')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('OrganizationsCollectionThymeleafController')}">
    <label for="organization" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_organization}">Organization</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{organization}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{organization} == null" data-th-value="*{organization.id}" data-th-text="*{{organization}}" selected="selected">Organization</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('organization')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('organization')}" aria-hidden="true"></span>
      <span id="organization-error" class="help-block" data-th-if="${#fields.hasErrors('organization')}" data-th-errors="*{organization}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="225129ae" id="billofmaterial-manufacturermodelnumber-field" data-th-classappend="${#fields.hasErrors('manufacturerModelNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="manufacturerModelNumber" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_manufacturermodelnumber}">manufacturerModelNumber</label>
  <div class="col-md-6">
    <input id="manufacturerModelNumber" name="manufacturerModelNumber" data-th-value="*{{manufacturerModelNumber}}" type="text" class="form-control" placeholder="manufacturerModelNumber" data-th-placeholder="#{label_billofmaterial_manufacturermodelnumber}" data-toggle="tooltip" aria-describedby="manufacturerModelNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('manufacturerModelNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('manufacturerModelNumber')}" aria-hidden="true"></span>
      <span id="manufacturerModelNumber-error" class="help-block" data-th-if="${#fields.hasErrors('manufacturerModelNumber')}" data-th-errors="*{manufacturerModelNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="55877350" id="billofmaterial-manufacturerserialnumber-field" data-th-classappend="${#fields.hasErrors('manufacturerSerialNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="manufacturerSerialNumber" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_manufacturerserialnumber}">manufacturerSerialNumber</label>
  <div class="col-md-6">
    <input id="manufacturerSerialNumber" name="manufacturerSerialNumber" data-th-value="*{{manufacturerSerialNumber}}" type="text" class="form-control" placeholder="manufacturerSerialNumber" data-th-placeholder="#{label_billofmaterial_manufacturerserialnumber}" data-toggle="tooltip" aria-describedby="manufacturerSerialNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('manufacturerSerialNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('manufacturerSerialNumber')}" aria-hidden="true"></span>
      <span id="manufacturerSerialNumber-error" class="help-block" data-th-if="${#fields.hasErrors('manufacturerSerialNumber')}" data-th-errors="*{manufacturerSerialNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="2017ffb0" id="billofmaterial-manufacturerpartnumber-field" data-th-classappend="${#fields.hasErrors('manufacturerPartNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="manufacturerPartNumber" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_manufacturerpartnumber}">manufacturerPartNumber</label>
  <div class="col-md-6">
    <input id="manufacturerPartNumber" name="manufacturerPartNumber" data-th-value="*{{manufacturerPartNumber}}" type="text" class="form-control" placeholder="manufacturerPartNumber" data-th-placeholder="#{label_billofmaterial_manufacturerpartnumber}" data-toggle="tooltip" aria-describedby="manufacturerPartNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('manufacturerPartNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('manufacturerPartNumber')}" aria-hidden="true"></span>
      <span id="manufacturerPartNumber-error" class="help-block" data-th-if="${#fields.hasErrors('manufacturerPartNumber')}" data-th-errors="*{manufacturerPartNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="1520c010" id="billofmaterial-memo-field" data-th-classappend="${#fields.hasErrors('memo')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="memo" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_memo}">memo</label>
  <div class="col-md-6">
    <input id="memo" name="memo" data-th-value="*{{memo}}" type="text" class="form-control" placeholder="memo" data-th-placeholder="#{label_billofmaterial_memo}" data-toggle="tooltip" aria-describedby="memoStatus" />
      <span data-th-classappend="${#fields.hasErrors('memo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('memo')}" aria-hidden="true"></span>
      <span id="memo-error" class="help-block" data-th-if="${#fields.hasErrors('memo')}" data-th-errors="*{memo}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a839fe10" id="billofmaterial-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="c1d4b290" id="billofmaterial-bomcomponent-field" data-th-classappend="${#fields.hasErrors('bomComponent')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MaterialCatalogsCollectionThymeleafController')}">
    <label for="bomComponent" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_bomcomponent}">MaterialCatalog</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{bomComponent}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{bomComponent} == null" data-th-value="*{bomComponent.id}" data-th-text="*{{bomComponent}}" selected="selected">MaterialCatalog</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('bomComponent')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('bomComponent')}" aria-hidden="true"></span>
      <span id="bomComponent-error" class="help-block" data-th-if="${#fields.hasErrors('bomComponent')}" data-th-errors="*{bomComponent}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="b70ac38e" id="billofmaterial-setsize-field" data-th-classappend="${#fields.hasErrors('setSize')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="setSize" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_setsize}">setSize</label>
  <div class="col-md-3">
    <input id="setSize" name="setSize" data-th-value="*{{setSize}}" type="text" class="form-control inputmask" placeholder="setSize" data-th-placeholder="#{label_billofmaterial_setsize}" data-toggle="tooltip" aria-describedby="setSizeStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('setSize')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('setSize')}" aria-hidden="true"></span>
      <span id="setSize-error" class="help-block" data-th-if="${#fields.hasErrors('setSize')}" data-th-errors="*{setSize}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="b2ea46ee" id="billofmaterial-safestock-field" data-th-classappend="${#fields.hasErrors('safestock')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="safestock" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_safestock}">safestock</label>
  <div class="col-md-3">
    <input id="safestock" name="safestock" data-th-value="*{{safestock}}" type="text" class="form-control inputmask" placeholder="safestock" data-th-placeholder="#{label_billofmaterial_safestock}" data-toggle="tooltip" aria-describedby="safestockStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('safestock')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('safestock')}" aria-hidden="true"></span>
      <span id="safestock-error" class="help-block" data-th-if="${#fields.hasErrors('safestock')}" data-th-errors="*{safestock}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="23b95ed0" id="billofmaterial-unit-field" data-th-classappend="${#fields.hasErrors('unit')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('UnitOfMeasuresCollectionThymeleafController')}">
    <label for="unit" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_unit}">UnitOfMeasure</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{unit}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{unit} == null" data-th-value="*{unit.id}" data-th-text="*{{unit}}" selected="selected">UnitOfMeasure</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('unit')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('unit')}" aria-hidden="true"></span>
      <span id="unit-error" class="help-block" data-th-if="${#fields.hasErrors('unit')}" data-th-errors="*{unit}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="6f9f0bce" id="billofmaterial-drawingnumber-field" data-th-classappend="${#fields.hasErrors('drawingNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="drawingNumber" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_drawingnumber}">drawingNumber</label>
  <div class="col-md-6">
    <input id="drawingNumber" name="drawingNumber" data-th-value="*{{drawingNumber}}" type="text" class="form-control" placeholder="drawingNumber" data-th-placeholder="#{label_billofmaterial_drawingnumber}" data-toggle="tooltip" aria-describedby="drawingNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('drawingNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('drawingNumber')}" aria-hidden="true"></span>
      <span id="drawingNumber-error" class="help-block" data-th-if="${#fields.hasErrors('drawingNumber')}" data-th-errors="*{drawingNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="f2f314d0" id="billofmaterial-techpositionnumber-field" data-th-classappend="${#fields.hasErrors('techPositionNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="techPositionNumber" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_techpositionnumber}">techPositionNumber</label>
  <div class="col-md-6">
    <input id="techPositionNumber" name="techPositionNumber" data-th-value="*{{techPositionNumber}}" type="text" class="form-control" placeholder="techPositionNumber" data-th-placeholder="#{label_billofmaterial_techpositionnumber}" data-toggle="tooltip" aria-describedby="techPositionNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('techPositionNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('techPositionNumber')}" aria-hidden="true"></span>
      <span id="techPositionNumber-error" class="help-block" data-th-if="${#fields.hasErrors('techPositionNumber')}" data-th-errors="*{techPositionNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="1440c6ee" id="billofmaterial-parameter-field" data-th-classappend="${#fields.hasErrors('parameter')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="parameter" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_parameter}">parameter</label>
  <div class="col-md-6">
    <input id="parameter" name="parameter" data-th-value="*{{parameter}}" type="text" class="form-control" placeholder="parameter" data-th-placeholder="#{label_billofmaterial_parameter}" data-toggle="tooltip" aria-describedby="parameterStatus" />
      <span data-th-classappend="${#fields.hasErrors('parameter')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('parameter')}" aria-hidden="true"></span>
      <span id="parameter-error" class="help-block" data-th-if="${#fields.hasErrors('parameter')}" data-th-errors="*{parameter}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="26113bf0" id="billofmaterial-positionnumber-field" data-th-classappend="${#fields.hasErrors('positionNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="positionNumber" class="col-md-3 control-label" data-th-text="#{label_billofmaterial_positionnumber}">positionNumber</label>
  <div class="col-md-6">
    <input id="positionNumber" name="positionNumber" data-th-value="*{{positionNumber}}" type="text" class="form-control" placeholder="positionNumber" data-th-placeholder="#{label_billofmaterial_positionnumber}" data-toggle="tooltip" aria-describedby="positionNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('positionNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('positionNumber')}" aria-hidden="true"></span>
      <span id="positionNumber-error" class="help-block" data-th-if="${#fields.hasErrors('positionNumber')}" data-th-errors="*{positionNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="billofmaterial-needstock-field" data-z="f186a7ee" data-th-classappend="${#fields.hasErrors('needStock')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="needStock" data-th-text="#{label_billofmaterial_needstock}">needStock</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{needStock}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('needStock')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('needStock')}" aria-hidden="true"></span>
        <span id="needStock-error" class="help-block" data-th-if="${#fields.hasErrors('needStock')}" data-th-errors="*{needStock}">Error message.</span>
    </div>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
