<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_instockdetail})}|">Show InstockDetail - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${instockDetail}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_instockdetail})}">Show InstockDetail</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_instockdetail})}">InstockDetail data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="instockdetail-materialcatalog-field" data-z="e5d386a7">
            	      <strong data-th-text="#{label_instockdetail_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="instockdetail-storagelocation-field" data-z="972af727">
            	      <strong data-th-text="#{label_instockdetail_storagelocation}">storageLocation</strong>
                    <span data-th-text="*{{storageLocation}}">storageLocationValue</span>
         	        </li>
                  <li id="instockdetail-quantity-field" data-z="8096af57">
            	      <strong data-th-text="#{label_instockdetail_quantity}">quantity</strong>
                    <span data-th-text="*{{quantity}}">quantityValue</span>
         	        </li>
                  <li id="instockdetail-storagetype-field" data-z="61460e87">
            	      <strong data-th-text="#{label_instockdetail_storagetype}">storageType</strong>
                    <span data-th-text="*{{storageType}}">storageTypeValue</span>
         	        </li>
                  <li id="instockdetail-movementtype-field" data-z="b62babb7">
            	      <strong data-th-text="#{label_instockdetail_movementtype}">movementType</strong>
                    <span data-th-text="*{{movementType}}">movementTypeValue</span>
         	        </li>
                  <li id="instockdetail-goodreceiveno-field" data-z="9b0d8a27">
            	      <strong data-th-text="#{label_instockdetail_goodreceiveno}">goodReceiveNo</strong>
                    <span data-th-text="*{{goodReceiveNo}}">goodReceiveNoValue</span>
         	        </li>
                  <li id="instockdetail-receivedate-field" data-z="d435e307">
            	      <strong data-th-text="#{label_instockdetail_receivedate}">receiveDate</strong>
                    <span data-th-text="*{{receiveDate}}">receiveDateValue</span>
         	        </li>
                  <li id="instockdetail-expirationdate-field" data-z="9ca47737">
            	      <strong data-th-text="#{label_instockdetail_expirationdate}">expirationDate</strong>
                    <span data-th-text="*{{expirationDate}}">expirationDateValue</span>
         	        </li>
                  <li id="instockdetail-serialnumber-field" data-z="8e8a3937">
            	      <strong data-th-text="#{label_instockdetail_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="instockdetail-receiver-field" data-z="823b92d7">
            	      <strong data-th-text="#{label_instockdetail_receiver}">receiver</strong>
                    <span data-th-text="*{{receiver}}">receiverValue</span>
         	        </li>
                  <li id="instockdetail-keeper-field" data-z="5eebb477">
            	      <strong data-th-text="#{label_instockdetail_keeper}">keeper</strong>
                    <span data-th-text="*{{keeper}}">keeperValue</span>
         	        </li>
                  <li id="instockdetail-memo-field" data-z="37514177">
            	      <strong data-th-text="#{label_instockdetail_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="instockdetail-closed-field" data-z="8b6cd37">
            	      <strong data-th-text="#{label_instockdetail_closed}">closed</strong>
                    <span data-th-text="*{{closed}}">closedValue</span>
         	        </li>
                  <li id="instockdetail-recordstatus-field" data-z="bde22877">
            	      <strong data-th-text="#{label_instockdetail_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="instockdetail-createddate-field" data-z="80abc667">
            	      <strong data-th-text="#{label_instockdetail_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="instockdetail-createdby-field" data-z="6a6c2747">
            	      <strong data-th-text="#{label_instockdetail_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="instockdetail-lastmodifieddate-field" data-z="e8483757">
            	      <strong data-th-text="#{label_instockdetail_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="instockdetail-lastmodifiedby-field" data-z="7b501437">
            	      <strong data-th-text="#{label_instockdetail_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="InstockDetail_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('InstockDetailsItemThymeleafController').to('editForm').with('instockDetail', instockDetail.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="InstockDetail_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('InstockDetailsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
