<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_measuringrecord})}">
    Edit MeasuringRecord - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('MeasuringRecordsCollectionThymeleafController')},itemLink=${@linkBuilder.of('MeasuringRecordsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_measuringrecord})}">Edit MeasuringRecord</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${measuringRecord}" data-th-action="${itemLink.to('update').with('measuringRecord', measuringRecord.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('measuringRecord', measuringRecord.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_measuringrecord})}">MeasuringRecord data </legend>

<div class="form-group has-error has-feedback" data-z="c73674c1" id="measuringrecord-measuringpoint-field" data-th-classappend="${#fields.hasErrors('measuringPoint')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('MeasuringPointsCollectionThymeleafController')}">
    <label for="measuringPoint" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_measuringpoint}">MeasuringPoint</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{measuringPoint}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{measuringPoint} == null" data-th-value="*{measuringPoint.id}" data-th-text="*{{measuringPoint}}" selected="selected">MeasuringPoint</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('measuringPoint')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('measuringPoint')}" aria-hidden="true"></span>
      <span id="measuringPoint-error" class="help-block" data-th-if="${#fields.hasErrors('measuringPoint')}" data-th-errors="*{measuringPoint}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="measuringrecord-measuringdate-field" data-z="19cdeffd" data-th-classappend="${#fields.hasErrors('measuringDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="measuringDate" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_measuringdate}">measuringDate</label>
  <div class="col-md-3">
    <input id="measuringDate" name="measuringDate" data-th-value="*{{measuringDate}}" type="text" class="form-control datetimepicker" placeholder="measuringDate" data-th-placeholder="#{label_measuringrecord_measuringdate}" data-th-attr="data-dateformat=${measuringDate_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('measuringDate')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('measuringDate')}" aria-hidden="true"></span>
     <span id="measuringDate-error" class="help-block" data-th-if="${#fields.hasErrors('measuringDate')}" data-th-errors="*{measuringDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="f65e7ca1" id="measuringrecord-measuringvalue-field" data-th-classappend="${#fields.hasErrors('measuringValue')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="measuringValue" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_measuringvalue}">measuringValue</label>
  <div class="col-md-3">
    <input id="measuringValue" name="measuringValue" data-th-value="*{{measuringValue}}" type="text" class="form-control inputmask" placeholder="measuringValue" data-th-placeholder="#{label_measuringrecord_measuringvalue}" data-toggle="tooltip" aria-describedby="measuringValueStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('measuringValue')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('measuringValue')}" aria-hidden="true"></span>
      <span id="measuringValue-error" class="help-block" data-th-if="${#fields.hasErrors('measuringValue')}" data-th-errors="*{measuringValue}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="462b78fd" id="measuringrecord-description-field" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="description" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_description}">description</label>
  <div class="col-md-6">
    <input id="description" name="description" data-th-value="*{{description}}" type="text" class="form-control" placeholder="description" data-th-placeholder="#{label_measuringrecord_description}" data-toggle="tooltip" aria-describedby="descriptionStatus" />
      <span data-th-classappend="${#fields.hasErrors('description')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('description')}" aria-hidden="true"></span>
      <span id="description-error" class="help-block" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="81526541" id="measuringrecord-recorder-field" data-th-classappend="${#fields.hasErrors('recorder')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EmployeesCollectionThymeleafController')}">
    <label for="recorder" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_recorder}">Employee</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recorder}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recorder} == null" data-th-value="*{recorder.id}" data-th-text="*{{recorder}}" selected="selected">Employee</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recorder')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recorder')}" aria-hidden="true"></span>
      <span id="recorder-error" class="help-block" data-th-if="${#fields.hasErrors('recorder')}" data-th-errors="*{recorder}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="a1bb4d41" id="measuringrecord-dcsvalue-field" data-th-classappend="${#fields.hasErrors('dcsValue')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="dcsValue" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_dcsvalue}">dcsValue</label>
  <div class="col-md-3">
    <input id="dcsValue" name="dcsValue" data-th-value="*{{dcsValue}}" type="text" class="form-control inputmask" placeholder="dcsValue" data-th-placeholder="#{label_measuringrecord_dcsvalue}" data-toggle="tooltip" aria-describedby="dcsValueStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('dcsValue')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('dcsValue')}" aria-hidden="true"></span>
      <span id="dcsValue-error" class="help-block" data-th-if="${#fields.hasErrors('dcsValue')}" data-th-errors="*{dcsValue}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="c8d7fe3d" id="measuringrecord-equipment-field" data-th-classappend="${#fields.hasErrors('equipment')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('EquipmentsCollectionThymeleafController')}">
    <label for="equipment" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_equipment}">Equipment</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{equipment}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{equipment} == null" data-th-value="*{equipment.id}" data-th-text="*{{equipment}}" selected="selected">Equipment</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('equipment')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('equipment')}" aria-hidden="true"></span>
      <span id="equipment-error" class="help-block" data-th-if="${#fields.hasErrors('equipment')}" data-th-errors="*{equipment}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="68f063c1" id="measuringrecord-recordstatus-field" data-th-classappend="${#fields.hasErrors('recordStatus')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('RecordStatusesCollectionThymeleafController')}">
    <label for="recordStatus" class="col-md-3 control-label" data-th-text="#{label_measuringrecord_recordstatus}">RecordStatus</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{recordStatus}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{recordStatus} == null" data-th-value="*{recordStatus.id}" data-th-text="*{{recordStatus}}" selected="selected">RecordStatus</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('recordStatus')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('recordStatus')}" aria-hidden="true"></span>
      <span id="recordStatus-error" class="help-block" data-th-if="${#fields.hasErrors('recordStatus')}" data-th-errors="*{recordStatus}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
