<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_measuringrecord})}|">Show MeasuringRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${measuringRecord}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_measuringrecord})}">Show MeasuringRecord</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_measuringrecord})}">MeasuringRecord data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="measuringrecord-measuringpoint-field" data-z="c73674c1">
            	      <strong data-th-text="#{label_measuringrecord_measuringpoint}">measuringPoint</strong>
                    <span data-th-text="*{{measuringPoint}}">measuringPointValue</span>
         	        </li>
                  <li id="measuringrecord-measuringdate-field" data-z="19cdeffd">
            	      <strong data-th-text="#{label_measuringrecord_measuringdate}">measuringDate</strong>
                    <span data-th-text="*{{measuringDate}}">measuringDateValue</span>
         	        </li>
                  <li id="measuringrecord-measuringvalue-field" data-z="f65e7ca1">
            	      <strong data-th-text="#{label_measuringrecord_measuringvalue}">measuringValue</strong>
                    <span data-th-text="*{{measuringValue}}">measuringValueValue</span>
         	        </li>
                  <li id="measuringrecord-description-field" data-z="462b78fd">
            	      <strong data-th-text="#{label_measuringrecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="measuringrecord-recorder-field" data-z="81526541">
            	      <strong data-th-text="#{label_measuringrecord_recorder}">recorder</strong>
                    <span data-th-text="*{{recorder}}">recorderValue</span>
         	        </li>
                  <li id="measuringrecord-dcsvalue-field" data-z="a1bb4d41">
            	      <strong data-th-text="#{label_measuringrecord_dcsvalue}">dcsValue</strong>
                    <span data-th-text="*{{dcsValue}}">dcsValueValue</span>
         	        </li>
                  <li id="measuringrecord-equipment-field" data-z="c8d7fe3d">
            	      <strong data-th-text="#{label_measuringrecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="measuringrecord-recordstatus-field" data-z="68f063c1">
            	      <strong data-th-text="#{label_measuringrecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="measuringrecord-createddate-field" data-z="54a3f9dd">
            	      <strong data-th-text="#{label_measuringrecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="measuringrecord-createdby-field" data-z="62a6c03d">
            	      <strong data-th-text="#{label_measuringrecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="measuringrecord-lastmodifieddate-field" data-z="9fd3bda1">
            	      <strong data-th-text="#{label_measuringrecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="measuringrecord-lastmodifiedby-field" data-z="9bbca501">
            	      <strong data-th-text="#{label_measuringrecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="MeasuringRecord_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('MeasuringRecordsItemThymeleafController').to('editForm').with('measuringRecord', measuringRecord.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="MeasuringRecord_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('MeasuringRecordsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
