<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_extrudershaftreplacerecord})}|">Show ExtruderShaftReplaceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${extruderShaftReplaceRecord}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="extrudershaftreplacerecord-technicalobject-field" data-z="9842fd9b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_technicalobject}">technicalObject</strong>
                    <span data-th-text="*{{technicalObject}}">technicalObjectValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-equipment-field" data-z="e603703b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_equipment}">equipment</strong>
                    <span data-th-text="*{{equipment}}">equipmentValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-description-field" data-z="c642637b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-onlinedate-field" data-z="68341243">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_onlinedate}">onlineDate</strong>
                    <span data-th-text="*{{onlineDate}}">onlineDateValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-onlineplan-field" data-z="7dee8ee3">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_onlineplan}">onlinePlan</strong>
                    <span data-th-text="*{{onlinePlan}}">onlinePlanValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-onlinemaintainer-field" data-z="805d7603">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_onlinemaintainer}">onlineMaintainer</strong>
                    <span data-th-text="*{{onlineMaintainer}}">onlineMaintainerValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-offlinedate-field" data-z="536da0fb">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_offlinedate}">offlineDate</strong>
                    <span data-th-text="*{{offlineDate}}">offlineDateValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-offlineplan-field" data-z="69281d9b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_offlineplan}">offlinePlan</strong>
                    <span data-th-text="*{{offlinePlan}}">offlinePlanValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-offlinemaintainer-field" data-z="172f1abb">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_offlinemaintainer}">offlineMaintainer</strong>
                    <span data-th-text="*{{offlineMaintainer}}">offlineMaintainerValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-memo-field" data-z="fc652e03">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-recordstatus-field" data-z="ebb6c903">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-createddate-field" data-z="d4bae45b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-createdby-field" data-z="7fd2323b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-lastmodifieddate-field" data-z="e281b1e3">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-lastmodifiedby-field" data-z="867ec1c3">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="extrudershaftreplacerecord-shafttype-field" data-z="c18f8f9b">
            	      <strong data-th-text="#{label_extrudershaftreplacerecord_shafttype}">shaftType</strong>
                    <span data-th-text="*{{shaftType}}">shaftTypeValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
