<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="pressurevessel-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('PressureVesselsCollectionThymeleafController')},itemLink=${@linkBuilder.of('PressureVesselsItemThymeleafController')}">
    <table id="pressurevessel-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="tag" data-th-text="#{label_pressurevessel_tag}">tag</th>
          <th data-data="description" data-th-text="#{label_pressurevessel_description}">description</th>
          <th data-data="descriptionLocal" data-th-text="#{label_pressurevessel_descriptionlocal}">descriptionLocal</th>
          <th data-data="abcIndicator" data-th-text="#{label_pressurevessel_abcindicator}">abcIndicator</th>
          <th data-data="organization" data-th-text="#{label_pressurevessel_organization}">organization</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>tag</td>
          <td>description</td>
          <td>descriptionLocal</td>
          <td>abcIndicator</td>
          <td>organization</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->