<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_reliefvalve})}|">Show ReliefValve - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${reliefValve}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="reliefvalve-tag-field" data-z="486c9eaa">
            	      <strong data-th-text="#{label_reliefvalve_tag}">tag</strong>
                    <span data-th-text="*{{tag}}">tagValue</span>
         	        </li>
                  <li id="reliefvalve-description-field" data-z="5fa8df6a">
            	      <strong data-th-text="#{label_reliefvalve_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="reliefvalve-descriptionlocal-field" data-z="8a28eb4">
            	      <strong data-th-text="#{label_reliefvalve_descriptionlocal}">descriptionLocal</strong>
                    <span data-th-text="*{{descriptionLocal}}">descriptionLocalValue</span>
         	        </li>
                  <li id="reliefvalve-abcindicator-field" data-z="c3da974">
            	      <strong data-th-text="#{label_reliefvalve_abcindicator}">abcIndicator</strong>
                    <span data-th-text="*{{abcIndicator}}">abcIndicatorValue</span>
         	        </li>
                  <li id="reliefvalve-mainworkcenter-field" data-z="27effa54">
            	      <strong data-th-text="#{label_reliefvalve_mainworkcenter}">mainWorkCenter</strong>
                    <span data-th-text="*{{mainWorkCenter}}">mainWorkCenterValue</span>
         	        </li>
                  <li id="reliefvalve-organization-field" data-z="a3edf0d4">
            	      <strong data-th-text="#{label_reliefvalve_organization}">organization</strong>
                    <span data-th-text="*{{organization}}">organizationValue</span>
         	        </li>
                  <li id="reliefvalve-manufacturermodelnumber-field" data-z="e44b264a">
            	      <strong data-th-text="#{label_reliefvalve_manufacturermodelnumber}">manufacturerModelNumber</strong>
                    <span data-th-text="*{{manufacturerModelNumber}}">manufacturerModelNumberValue</span>
         	        </li>
                  <li id="reliefvalve-manufacturerserialnumber-field" data-z="d2cd0a34">
            	      <strong data-th-text="#{label_reliefvalve_manufacturerserialnumber}">manufacturerSerialNumber</strong>
                    <span data-th-text="*{{manufacturerSerialNumber}}">manufacturerSerialNumberValue</span>
         	        </li>
                  <li id="reliefvalve-manufacturerpartnumber-field" data-z="36ddff94">
            	      <strong data-th-text="#{label_reliefvalve_manufacturerpartnumber}">manufacturerPartNumber</strong>
                    <span data-th-text="*{{manufacturerPartNumber}}">manufacturerPartNumberValue</span>
         	        </li>
                  <li id="reliefvalve-plannergroup-field" data-z="cbc21974">
            	      <strong data-th-text="#{label_reliefvalve_plannergroup}">plannerGroup</strong>
                    <span data-th-text="*{{plannerGroup}}">plannerGroupValue</span>
         	        </li>
                  <li id="reliefvalve-memo-field" data-z="b903b0f4">
            	      <strong data-th-text="#{label_reliefvalve_memo}">memo</strong>
                    <span data-th-text="*{{memo}}">memoValue</span>
         	        </li>
                  <li id="reliefvalve-recordstatus-field" data-z="7f1fcaf4">
            	      <strong data-th-text="#{label_reliefvalve_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="reliefvalve-createddate-field" data-z="6e21604a">
            	      <strong data-th-text="#{label_reliefvalve_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="reliefvalve-createdby-field" data-z="6734ddea">
            	      <strong data-th-text="#{label_reliefvalve_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="reliefvalve-lastmodifieddate-field" data-z="b4c65354">
            	      <strong data-th-text="#{label_reliefvalve_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="reliefvalve-lastmodifiedby-field" data-z="e3af0b74">
            	      <strong data-th-text="#{label_reliefvalve_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
                  <li id="reliefvalve-lastinspectiondate-field" data-z="a7a4c0b4">
            	      <strong data-th-text="#{label_reliefvalve_lastinspectiondate}">lastInspectionDate</strong>
                    <span data-th-text="*{{lastInspectionDate}}">lastInspectionDateValue</span>
         	        </li>
                  <li id="reliefvalve-nextinspectiondate-field" data-z="c5590114">
            	      <strong data-th-text="#{label_reliefvalve_nextinspectiondate}">nextInspectionDate</strong>
                    <span data-th-text="*{{nextInspectionDate}}">nextInspectionDateValue</span>
         	        </li>
                  <li id="reliefvalve-nominalpressure-field" data-z="6f92d6a">
            	      <strong data-th-text="#{label_reliefvalve_nominalpressure}">nominalPressure</strong>
                    <span data-th-text="*{{nominalPressure}}">nominalPressureValue</span>
         	        </li>
                  <li id="reliefvalve-workingpressure-field" data-z="d26d6ca">
            	      <strong data-th-text="#{label_reliefvalve_workingpressure}">workingPressure</strong>
                    <span data-th-text="*{{workingPressure}}">workingPressureValue</span>
         	        </li>
                  <li id="reliefvalve-settingpressure-field" data-z="bcccceea">
            	      <strong data-th-text="#{label_reliefvalve_settingpressure}">settingPressure</strong>
                    <span data-th-text="*{{settingPressure}}">settingPressureValue</span>
         	        </li>
                  <li id="reliefvalve-nominaldiameter-field" data-z="ef82846a">
            	      <strong data-th-text="#{label_reliefvalve_nominaldiameter}">nominalDiameter</strong>
                    <span data-th-text="*{{nominalDiameter}}">nominalDiameterValue</span>
         	        </li>
                  <li id="reliefvalve-designtemperature-field" data-z="682703ca">
            	      <strong data-th-text="#{label_reliefvalve_designtemperature}">designTemperature</strong>
                    <span data-th-text="*{{designTemperature}}">designTemperatureValue</span>
         	        </li>
                  <li id="reliefvalve-workingtemperature-field" data-z="bb671ef4">
            	      <strong data-th-text="#{label_reliefvalve_workingtemperature}">workingTemperature</strong>
                    <span data-th-text="*{{workingTemperature}}">workingTemperatureValue</span>
         	        </li>
                  <li id="reliefvalve-connectiontype-field" data-z="df2fd314">
            	      <strong data-th-text="#{label_reliefvalve_connectiontype}">connectionType</strong>
                    <span data-th-text="*{{connectionType}}">connectionTypeValue</span>
         	        </li>
                  <li id="reliefvalve-medium-field" data-z="752db454">
            	      <strong data-th-text="#{label_reliefvalve_medium}">medium</strong>
                    <span data-th-text="*{{medium}}">mediumValue</span>
         	        </li>
                  <li id="reliefvalve-fluidstate-field" data-z="39320f74">
            	      <strong data-th-text="#{label_reliefvalve_fluidstate}">fluidState</strong>
                    <span data-th-text="*{{fluidState}}">fluidStateValue</span>
         	        </li>
                  <li id="reliefvalve-dischargelocation-field" data-z="d0bb83ea">
            	      <strong data-th-text="#{label_reliefvalve_dischargelocation}">dischargeLocation</strong>
                    <span data-th-text="*{{dischargeLocation}}">dischargeLocationValue</span>
         	        </li>
                  <li id="reliefvalve-manufacturedate-field" data-z="58145baa">
            	      <strong data-th-text="#{label_reliefvalve_manufacturedate}">manufactureDate</strong>
                    <span data-th-text="*{{manufactureDate}}">manufactureDateValue</span>
         	        </li>
                  <li id="reliefvalve-designedservicelife-field" data-z="564996a">
            	      <strong data-th-text="#{label_reliefvalve_designedservicelife}">designedServiceLife</strong>
                    <span data-th-text="*{{designedServiceLife}}">designedServiceLifeValue</span>
         	        </li>
                  <li id="reliefvalve-classificationcategory-field" data-z="9c741494">
            	      <strong data-th-text="#{label_reliefvalve_classificationcategory}">classificationCategory</strong>
                    <span data-th-text="*{{classificationCategory}}">classificationCategoryValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
