<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_pelletizercuttermaintenancerecord})}|">Show PelletizerCutterMaintenanceRecord - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${pelletizerCutterMaintenanceRecord}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_pelletizercuttermaintenancerecord})}">Show PelletizerCutterMaintenanceRecord</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_pelletizercuttermaintenancerecord})}">PelletizerCutterMaintenanceRecord data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="pelletizercuttermaintenancerecord-materialcatalog-field" data-z="d7058506">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_materialcatalog}">materialCatalog</strong>
                    <span data-th-text="*{{materialCatalog}}">materialCatalogValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-serialnumber-field" data-z="73d4ef38">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_serialnumber}">serialNumber</strong>
                    <span data-th-text="*{{serialNumber}}">serialNumberValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-maintstartdate-field" data-z="72e2a1d8">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_maintstartdate}">maintStartDate</strong>
                    <span data-th-text="*{{maintStartDate}}">maintStartDateValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-maintenddate-field" data-z="afa988f8">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_maintenddate}">maintEndDate</strong>
                    <span data-th-text="*{{maintEndDate}}">maintEndDateValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-description-field" data-z="bba94b66">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-downtime-field" data-z="6efe158">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_downtime}">downtime</strong>
                    <span data-th-text="*{{downtime}}">downtimeValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-shutdown-field" data-z="14798078">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_shutdown}">shutdown</strong>
                    <span data-th-text="*{{shutdown}}">shutdownValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-worker-field" data-z="f9f85db8">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_worker}">worker</strong>
                    <span data-th-text="*{{worker}}">workerValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-supportvendor-field" data-z="8ea25a66">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_supportvendor}">supportVendor</strong>
                    <span data-th-text="*{{supportVendor}}">supportVendorValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-procurementorder-field" data-z="e5104658">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_procurementorder}">procurementOrder</strong>
                    <span data-th-text="*{{procurementOrder}}">procurementOrderValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-recordstatus-field" data-z="a32cde78">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_recordstatus}">recordStatus</strong>
                    <span data-th-text="*{{recordStatus}}">recordStatusValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-createddate-field" data-z="ca21cc46">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-createdby-field" data-z="2f1818e6">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-lastmodifieddate-field" data-z="1d5604d8">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_lastmodifieddate}">lastModifiedDate</strong>
                    <span data-th-text="*{{lastModifiedDate}}">lastModifiedDateValue</span>
         	        </li>
                  <li id="pelletizercuttermaintenancerecord-lastmodifiedby-field" data-z="38c54df8">
            	      <strong data-th-text="#{label_pelletizercuttermaintenancerecord_lastmodifiedby}">lastModifiedBy</strong>
                    <span data-th-text="*{{lastModifiedBy}}">lastModifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="PelletizerCutterMaintenanceRecord_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('PelletizerCutterMaintenanceRecordsItemThymeleafController').to('editForm').with('pelletizerCutterMaintenanceRecord', pelletizerCutterMaintenanceRecord.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="PelletizerCutterMaintenanceRecord_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('PelletizerCutterMaintenanceRecordsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
